In [1]:
import pandas as pd
import numpy as np

import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from bs4 import BeautifulSoup

import time

# Read BlackRock Data and Process It

In [2]:
path='/Users/frkornet/Stockie/data/F13/'

In [3]:
ls /Users/frkornet/Stockie/data/F13

F13_BLK_202002.txt  F13_RT_201911.csv   F13_RT_201911.txt   F13_RT_202002.txt

In [4]:
blackrock=pd.read_csv(f'{path}/F13_BLK_202002.txt', sep='\t')
blackrock.head(10)

,NAME_OF_ISSUER,TITLE_OF_CLASS,CUSIP,VALUE,SHRS_OR_PRN_AMT,SH_OR_PRN,PUT_OR_CALL,DISCRETION,OTHER_MANAGER,SOLE_VOTING_AUTH,SHARED_VOTING_AUTH,NO_VOTING_AUTH
0,EURODRY LTD,COM,Y23508107,"1,404","180,000",SH,,SOLE,42,"180,000",0,0
1,EUROSEAS LTD,SHS,Y23592135,457,"112,500",SH,,SOLE,42,"112,500",0,0
2,ENVESTNET INC,COM,29404K106,"164,036","2,355,816",SH,,SOLE,0,"2,355,816",0,0
3,U S WELL SVCS INC,CL A,91274U101,"8,458","4,474,937",SH,,SOLE,44,"4,474,937",0,0
4,10X GENOMICS INC,CL A COM,88025U109,"1,758","23,051",SH,,SOLE,2,"23,051",0,0
5,10X GENOMICS INC,CL A COM,88025U109,652,"8,552",SH,,SOLE,18,"7,286",0,"1,266"
6,10X GENOMICS INC,CL A COM,88025U109,"9,967","130,714",SH,,SOLE,19,"130,714",0,0
7,10X GENOMICS INC,CL A COM,88025U109,78,"1,022",SH,,SOLE,20,"1,022",0,0
8,10X GENOMICS INC,CL A COM,88025U109,816,"10,702",SH,,SOLE,21,"10,702",0,0
9,10X GENOMICS INC,CL A COM,88025U109,"11,774","154,411",SH,,SOLE,22,"154,411",0,0

In [5]:
len(blackrock)

43159

In [6]:
#idx = blackrock.TITLE_OF_CLASS.str.contains("COM")
idx = blackrock.TITLE_OF_CLASS == "COM"
blackrock = blackrock[idx]
blackrock.head(10)

,NAME_OF_ISSUER,TITLE_OF_CLASS,CUSIP,VALUE,SHRS_OR_PRN_AMT,SH_OR_PRN,PUT_OR_CALL,DISCRETION,OTHER_MANAGER,SOLE_VOTING_AUTH,SHARED_VOTING_AUTH,NO_VOTING_AUTH
0,EURODRY LTD,COM,Y23508107,"1,404","180,000",SH,,SOLE,42,"180,000",0,0
2,ENVESTNET INC,COM,29404K106,"164,036","2,355,816",SH,,SOLE,0,"2,355,816",0,0
13,1347 PPTY INS HLDGS INC,COM,68244P107,34,"6,165",SH,,SOLE,21,"6,165",0,0
14,1895 BANCORP OF WIS INC,COM,28252W105,17,"1,607",SH,,SOLE,21,"1,607",0,0
15,1ST CONSTITUTION BANCORP,COM,31986N102,196,"8,849",SH,,SOLE,2,350,0,"8,499"
16,1ST CONSTITUTION BANCORP,COM,31986N102,611,"27,620",SH,,SOLE,18,"27,620",0,0
17,1ST CONSTITUTION BANCORP,COM,31986N102,288,"12,997",SH,,SOLE,19,"12,997",0,0
18,1ST CONSTITUTION BANCORP,COM,31986N102,"7,031","317,729",SH,,SOLE,21,"317,729",0,0
19,1ST CONSTITUTION BANCORP,COM,31986N102,"1,515","68,459",SH,,SOLE,22,"64,030",0,"4,429"
20,1ST SOURCE CORP,COM,336901103,803,"15,469",SH,,SOLE,2,675,0,"14,794"

In [7]:
blackrock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30915 entries, 0 to 43141
Data columns (total 12 columns):
NAME_OF_ISSUER        30915 non-null object
TITLE_OF_CLASS        30915 non-null object
CUSIP                 30915 non-null object
VALUE                 30915 non-null object
SHRS_OR_PRN_AMT       30915 non-null object
SH_OR_PRN             30915 non-null object
PUT_OR_CALL           30915 non-null object
DISCRETION            30915 non-null object
OTHER_MANAGER         30915 non-null object
SOLE_VOTING_AUTH      30915 non-null object
SHARED_VOTING_AUTH    30915 non-null int64
NO_VOTING_AUTH        30915 non-null object
dtypes: int64(1), object(11)
memory usage: 3.1+ MB

In [8]:
blk_stocks= set(blackrock.NAME_OF_ISSUER)

In [9]:
len(blk_stocks)

2967

In [10]:
cols=['NAME_OF_ISSUER', 'CUSIP']
blk_data = blackrock[cols].groupby(cols).count().reset_index()
blk_data.head(10)

               NAME_OF_ISSUER      CUSIP
0     1347 PPTY INS HLDGS INC  68244P107
1     1895 BANCORP OF WIS INC  28252W105
2    1ST CONSTITUTION BANCORP  31986N102
3             1ST SOURCE CORP  336901103
4        22ND CENTY GROUP INC  90137F103
5                      2U INC  90214J101
6                       3M CO  88579Y101
7                   89BIO INC  282559103
8                 8X8 INC NEW  282914100
9  A MARK PRECIOUS METALS INC  00181T107

In [11]:
blk_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2967 entries, 0 to 2966
Data columns (total 2 columns):
NAME_OF_ISSUER    2967 non-null object
CUSIP             2967 non-null object
dtypes: object(2)
memory usage: 46.5+ KB

In [12]:
blk_data_stocks = set(blk_data.NAME_OF_ISSUER)
blk_data_cusip = set(blk_data.CUSIP)
len(blk_data_stocks), len(blk_data_cusip)

(2967, 2967)

# Read Renaissance Technologies Stocks and Process Them

In [13]:
stocks=pd.read_csv(f'{path}../stocks_2000.csv')
cols=['NAME_OF_ISSUER', 'CUSIP', 'TICKER']
stocks = stocks[cols]
stocks.head(10)

             NAME_OF_ISSUER      CUSIP TICKER
0   1347 PPTY INS HLDGS INC  68244P107    PIH
1  1ST CONSTITUTION BANCORP  31986N102   FCCY
2           1ST SOURCE CORP  336901103   SRCE
3                     3M CO  88579Y101    MMM
4          A10 NETWORKS INC  002121101   ATEN
5                  AAR CORP  000361105    AIR
6                ABBVIE INC  00287Y109   ABBV
7               ABIOMED INC  003654100   ABMD
8              ABM INDS INC  000957100    ABM
9         ABRAXAS PETE CORP  003830106   AXAS

In [14]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 3 columns):
NAME_OF_ISSUER    2123 non-null object
CUSIP             2123 non-null object
TICKER            2042 non-null object
dtypes: object(3)
memory usage: 49.9+ KB

In [15]:
idx=stocks.TICKER.isnull() 
stocks[idx]

                    NAME_OF_ISSUER      CUSIP TICKER
14    ACHILLION PHARMACEUTICALS IN  00448Q201    NaN
47       AEVI GENOMIC MEDICINE INC  00835P105    NaN
74            ALIMERA SCIENCES INC  016259103    NaN
171                     ARQULE INC  04269E107    NaN
176        ASCENA RETAIL GROUP INC  04351G101    NaN
...                            ...        ...    ...
1955   UNITED FINL BANCORP INC NEW  910304104    NaN
1986                US ECOLOGY INC  91732J102    NaN
2018              VERSUM MATLS INC  92532W103    NaN
2035            VITAMIN SHOPPE INC  92849E101    NaN
2064      WESCO AIRCRAFT HLDGS INC  950814103    NaN

[81 rows x 3 columns]

In [16]:
stocks = stocks.dropna()
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2042 entries, 0 to 2122
Data columns (total 3 columns):
NAME_OF_ISSUER    2042 non-null object
CUSIP             2042 non-null object
TICKER            2042 non-null object
dtypes: object(3)
memory usage: 63.8+ KB

In [17]:
stocks_cusip = set(stocks.CUSIP)

In [18]:
len(blk_data_cusip - stocks_cusip)

999

In [19]:
len(stocks_cusip - blk_data_cusip)

74

In [20]:
len(stocks_cusip & blk_data_cusip)

1968

In [21]:
74+1968

2042

In [22]:
stocks['RT']  = 1
stocks['BLK'] = 1

# set the unique Renaissance Technoclogies stocks to zero for BlackRock indicator field
for cusip in (stocks_cusip - blk_data_cusip):
    idx = stocks.CUSIP == cusip
    stocks.loc[idx, 'BLK'] = 0

sum(stocks.BLK == 1), sum(stocks.RT == 1), sum(stocks.RT == 1) - sum(stocks.BLK == 1)

(1968, 2042, 74)

In [23]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2042 entries, 0 to 2122
Data columns (total 5 columns):
NAME_OF_ISSUER    2042 non-null object
CUSIP             2042 non-null object
TICKER            2042 non-null object
RT                2042 non-null int64
BLK               2042 non-null int64
dtypes: int64(2), object(3)
memory usage: 95.7+ KB

In [25]:
unique_blk_cusip = blk_data_cusip - stocks_cusip
cols = stocks.columns
unique_blk_data = pd.DataFrame(columns=cols)

for cusip in unique_blk_cusip:
    row = blk_data [ blk_data.CUSIP == cusip]
    assert len(row) == 1, "Cannot have multiple rows per CUSIP!"
    
    idx = row.index
    row.loc[idx, 'TICKER'] = np.NaN
    row.loc[idx, 'RT']     = 0
    row.loc[idx, 'BLK']    = 1

    unique_blk_data = unique_blk_data.append(row)
    
unique_blk_data.RT = unique_blk_data.RT.astype(int)
unique_blk_data.BLK = unique_blk_data.BLK.astype(int)
unique_blk_data.head(10)

                    NAME_OF_ISSUER      CUSIP  TICKER  RT  BLK
2496  SPRINGWORKS THERAPEUTICS INC  85205L107     NaN   0    1
1683            MARATHON PETE CORP  56585A102     NaN   0    1
277      ATARA BIOTHERAPEUTICS INC  046513107     NaN   0    1
2467        SOUND FINL BANCORP INC  83607A100     NaN   0    1
2835        VILLAGE FARMS INTL INC  92707Y108     NaN   0    1
2120                  PHREESIA INC  71944F106     NaN   0    1
2154                POWERFLEET INC  73931J109     NaN   0    1
736                    CORTEVA INC  22052L104     NaN   0    1
703                    CONMED CORP  207410101     NaN   0    1
324    AXONICS MODULATION TECH INC  05465P101     NaN   0    1

In [26]:
unique_blk_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 2496 to 1687
Data columns (total 5 columns):
NAME_OF_ISSUER    999 non-null object
CUSIP             999 non-null object
TICKER            0 non-null float64
RT                999 non-null int64
BLK               999 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 46.8+ KB

# Lookup Missing Tickers

In [27]:
cusip_list = list(unique_blk_data.CUSIP)
len(cusip_list)

999

In [28]:
options = Options() 
chrome_path = '/Users/frkornet/Downloads/chromedriver'

In [29]:
driver = webdriver.Chrome(chrome_path, options=options)
driver.set_window_size(1400,1000)
driver.get('https://quotes.fidelity.com/mmnet/SymLookup.phtml?QUOTE_TYPE=D')

In [30]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [31]:
cnt = -1
for cusip in cusip_list:
    try:
        cnt = cnt + 1
        driver.find_elements_by_css_selector('option')[6].click()
        time.sleep(1)
        search_bar = driver.find_element_by_name('criteria')
        search_bar.send_keys(cusip)
        search_bar.send_keys(Keys.ENTER)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source)
        tables = soup.findAll('table')
        table = tables[8].prettify()
        df = pd.read_html(table)[0]
        
        ticker = df.loc[2][1]
        if cnt % 50 == 0:
            print(f"cnt={cnt}\t\tticker={ticker}")
        
        idx = unique_blk_data.CUSIP == cusip
        unique_blk_data.loc[idx, 'TICKER'] = ticker
        
        driver.find_element_by_name('Reset').click()
        time.sleep(1)
    except:
        driver.find_element_by_name('Reset').click()
        time.sleep(1)
        continue

cnt=50		ticker=BBCP
cnt=100		ticker=TPIC
cnt=150		ticker=CPE
cnt=200		ticker=YAYO
cnt=250		ticker=MTDR
cnt=300		ticker=ASGN
cnt=350		ticker=PRNB
cnt=400		ticker=STML
cnt=450		ticker=SAIA
cnt=500		ticker=IT
cnt=550		ticker=CSTL
cnt=600		ticker=SCHW
cnt=650		ticker=QEP
cnt=700		ticker=CPS
cnt=750		ticker=PRTK
cnt=850		ticker=MYOS
cnt=900		ticker=TCRR
cnt=950		ticker=ULTA

In [32]:
unique_blk_data.head(10)

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
2496  SPRINGWORKS THERAPEUTICS INC  85205L107    NaN   0    1
1683            MARATHON PETE CORP  56585A102    MPC   0    1
277      ATARA BIOTHERAPEUTICS INC  046513107   ATRA   0    1
2467        SOUND FINL BANCORP INC  83607A100   SFBC   0    1
2835        VILLAGE FARMS INTL INC  92707Y108    VFF   0    1
2120                  PHREESIA INC  71944F106    PHR   0    1
2154                POWERFLEET INC  73931J109   PWFL   0    1
736                    CORTEVA INC  22052L104   CTVA   0    1
703                    CONMED CORP  207410101   CNMD   0    1
324    AXONICS MODULATION TECH INC  05465P101   AXNX   0    1

In [33]:
idx = unique_blk_data.TICKER.isna() == True
unique_blk_data[idx]

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
2496  SPRINGWORKS THERAPEUTICS INC  85205L107    NaN   0    1
2880     WELLCARE HEALTH PLANS INC  94946T106    NaN   0    1
2718               TWO RIV BANCORP  90207C105    NaN   0    1
2502                SRC ENERGY INC  78470V108    NaN   0    1
1567  LADENBURG THALMAN FIN SVCS I  50575Q102    NaN   0    1
1018                      FFBW INC  30258M107    NaN   0    1
70       AEVI GENOMIC MEDICINE INC  00835P105    NaN   0    1
307       AVEO PHARMACEUTICALS INC  053588109    NaN   0    1
520                   CARE COM INC  141633107    NaN   0    1
527     CAROLINA TR BANCSHARES INC  14422P105    NaN   0    1
1425               INSTRUCTURE INC  45781U103    NaN   0    1
315                 AVON PRODS INC  054303102    NaN   0    1
2572                  SYNTHORX INC  87167A103    NaN   0    1
1905         NF ENERGY SAVING CORP  629099300    NaN   0    1
930              ENTEGRA FINL CORP  29363J108    NaN   0    1
379   BELLICUM PHARMACEUTICALS INC  079481107    NaN   0    1
2000        OPTION CARE HEALTH INC  68404L102    NaN   0    1
1728                  MEDICINES CO  584688105    NaN   0    1
319        AXA EQUITABLE HLDGS INC  054561105    NaN   0    1
2887      WESCO AIRCRAFT HLDGS INC  950814103    NaN   0    1
343     BANCORP NEW JERSEY INC NEW  059915108    NaN   0    1
1245            GULF RESOURCES INC  40251W309    NaN   0    1
836          DIPLOMAT PHARMACY INC  25456K101    NaN   0    1
28    ACHILLION PHARMACEUTICALS IN  00448Q201    NaN   0    1
714     CONTINENTAL BLDG PRODS INC  211171103    NaN   0    1
716                CONTRAFECT CORP  212326102    NaN   0    1
911                    ENCANA CORP  292505104    NaN   0    1
2231        RA PHARMACEUTICALS INC  74933V108    NaN   0    1
1416                       INPIXON  45790J503    NaN   0    1
2747   UNITED CMNTY FINL CORP OHIO  909839102    NaN   0    1
522          CAREER EDUCATION CORP  141665109    NaN   0    1
2398                 SENESTECH INC  81720R109    NaN   0    1
2478        SOUTHWEST GA FINL CORP  84502A104    NaN   0    1
2192      PROTEON THERAPEUTICS INC  74371L109    NaN   0    1
1409         INNOPHOS HOLDINGS INC  45774N108    NaN   0    1
1642                     LRAD CORP  50213V109    NaN   0    1
1451                 INTREXON CORP  46122T102    NaN   0    1
905   EMERALD EXPOSITIONS EVENTS I  29103B100    NaN   0    1
2118     PHIO PHARMACEUTICALS CORP  71880W204    NaN   0    1
2388    SECOND SIGHT MED PRODS INC  81362J100    NaN   0    1
291      AUDENTES THERAPEUTICS INC  05070R104    NaN   0    1
1145      GARDNER DENVER HLDGS INC  36555P107    NaN   0    1
1464  INVIVO THERAPEUTICS HLDGS CO  46186M407    NaN   0    1
220               AQUA AMERICA INC  03836W103    NaN   0    1
817                    DERMIRA INC  24983L104    NaN   0    1
1489        JAGGED PEAK ENERGY INC  47009K107    NaN   0    1
252                     ARQULE INC  04269E107    NaN   0    1

In [34]:
len(unique_blk_data[idx])

47

In [40]:
# 1
idx = unique_blk_data.CUSIP == '85205L107'
unique_blk_data.loc[idx, 'TICKER'] = 'SWTX'

In [41]:
# 2
idx = unique_blk_data.CUSIP == '94946T106'
unique_blk_data.loc[idx, 'TICKER'] = 'WCG'

In [42]:
# 3
idx = unique_blk_data.CUSIP == '90207C105'
unique_blk_data.loc[idx, 'TICKER'] = 'TRCB'

In [43]:
# 4
idx = unique_blk_data.CUSIP == '78470V108'
unique_blk_data.loc[idx, 'TICKER'] = 'SRCI'

In [44]:
# 5
idx = unique_blk_data.CUSIP == '50575Q102'
unique_blk_data.loc[idx, 'TICKER'] = 'LTS'

In [45]:
# 6
idx = unique_blk_data.CUSIP == '30258M107'
unique_blk_data.loc[idx, 'TICKER'] = 'FFBW'

In [46]:
# 7
idx = unique_blk_data.CUSIP == '00835P105'
unique_blk_data.loc[idx, 'TICKER'] = 'GNMX'

In [47]:
# 8
idx = unique_blk_data.CUSIP == '053588109'
unique_blk_data.loc[idx, 'TICKER'] = 'AVEO'

In [48]:
# 9
idx = unique_blk_data.CUSIP == '141633107'
unique_blk_data.loc[idx, 'TICKER'] = 'CRCM'

In [49]:
# 10
idx = unique_blk_data.CUSIP == '14422P105'
unique_blk_data.loc[idx, 'TICKER'] = 'CART'

In [50]:
# 11
idx = unique_blk_data.CUSIP == '45781U103'
unique_blk_data.loc[idx, 'TICKER'] = 'INST'

In [51]:
# 12
idx = unique_blk_data.CUSIP == '054303102'
unique_blk_data.loc[idx, 'TICKER'] = 'AVP'

In [52]:
# 13
idx = unique_blk_data.CUSIP == '87167A103'
unique_blk_data.loc[idx, 'TICKER'] = 'CBB'

In [53]:
# 14
idx = unique_blk_data.CUSIP == '629099300'
unique_blk_data.loc[idx, 'TICKER'] = 'NFEC'

In [54]:
# 15
idx = unique_blk_data.CUSIP == '29363J108'
unique_blk_data.loc[idx, 'TICKER'] = 'ENFC'

In [55]:
# 16
idx = unique_blk_data.CUSIP == '079481107'
unique_blk_data.loc[idx, 'TICKER'] = 'BLCM'

In [56]:
# 17
idx = unique_blk_data.CUSIP == '68404L102'
unique_blk_data.loc[idx, 'TICKER'] = 'OPCH'

In [57]:
# 18
idx = unique_blk_data.CUSIP == '584688105'
unique_blk_data.loc[idx, 'TICKER'] = 'MDCO'

In [58]:
# 19
idx = unique_blk_data.CUSIP == '054561105'
unique_blk_data.loc[idx, 'TICKER'] = 'EQH'

In [59]:
# 20
idx = unique_blk_data.CUSIP == '950814103'
unique_blk_data.loc[idx, 'TICKER'] = 'WAIR'

In [60]:
# 21
idx = unique_blk_data.CUSIP == '059915108'
unique_blk_data.loc[idx, 'TICKER'] = 'BKJ'

In [61]:
# 22
idx = unique_blk_data.CUSIP == '40251W309'
unique_blk_data.loc[idx, 'TICKER'] = 'GURE'

In [62]:
# 23
idx = unique_blk_data.CUSIP == '25456K101'
unique_blk_data.loc[idx, 'TICKER'] = 'DPLO'

In [63]:
# 24
idx = unique_blk_data.CUSIP == '00448Q201'
unique_blk_data.loc[idx, 'TICKER'] = 'ACHN'

In [64]:
# 25
idx = unique_blk_data.CUSIP == '211171103'
unique_blk_data.loc[idx, 'TICKER'] = 'CBPX'

In [65]:
# 26
idx = unique_blk_data.CUSIP == '212326102'
unique_blk_data.loc[idx, 'TICKER'] = 'CFRX'

In [66]:
# 27
idx = unique_blk_data.CUSIP == '292505104'
unique_blk_data.loc[idx, 'TICKER'] = 'ECA'

In [67]:
# 28
idx = unique_blk_data.CUSIP == '74933V108'
unique_blk_data.loc[idx, 'TICKER'] = 'RARX'

In [68]:
# 29
idx = unique_blk_data.CUSIP == '45790J503'
unique_blk_data.loc[idx, 'TICKER'] = 'INPX'

In [69]:
# 30
idx = unique_blk_data.CUSIP == '909839102'
unique_blk_data.loc[idx, 'TICKER'] = 'UCFC'

In [70]:
# 31
idx = unique_blk_data.CUSIP == '141665109'
unique_blk_data.loc[idx, 'TICKER'] = 'CECO'

In [71]:
# 32
idx = unique_blk_data.CUSIP == '81720R109'
unique_blk_data.loc[idx, 'TICKER'] = 'SNES'

In [72]:
# 33
idx = unique_blk_data.CUSIP == '84502A104'
unique_blk_data.loc[idx, 'TICKER'] = 'SGB'

In [73]:
# 34
idx = unique_blk_data.CUSIP == '74371L109'
unique_blk_data.loc[idx, 'TICKER'] = 'PRTO'

In [74]:
# 35
idx = unique_blk_data.CUSIP == '45774N108'
unique_blk_data.loc[idx, 'TICKER'] = 'IPHS'

In [75]:
# 36
idx = unique_blk_data.CUSIP == '50213V109'
unique_blk_data.loc[idx, 'TICKER'] = 'GNSS'

In [76]:
# 37
idx = unique_blk_data.CUSIP == '46122T102'
unique_blk_data.loc[idx, 'TICKER'] = 'XON'

In [77]:
# 38
idx = unique_blk_data.CUSIP == '29103B100'
unique_blk_data.loc[idx, 'TICKER'] = 'EEX'

In [78]:
# 39
idx = unique_blk_data.CUSIP == '71880W204'
unique_blk_data.loc[idx, 'TICKER'] = 'PHIO'

In [79]:
# 40
idx = unique_blk_data.CUSIP == '81362J100'
unique_blk_data.loc[idx, 'TICKER'] = 'EYES'

In [80]:
# 41
idx = unique_blk_data.CUSIP == '05070R104'
unique_blk_data.loc[idx, 'TICKER'] = 'BOLD'

In [81]:
# 42
idx = unique_blk_data.CUSIP == '36555P107'
unique_blk_data.loc[idx, 'TICKER'] = 'GDI'

In [82]:
# 43
idx = unique_blk_data.CUSIP == '46186M407'
unique_blk_data.loc[idx, 'TICKER'] = 'NVIV'

In [83]:
# 44
idx = unique_blk_data.CUSIP == '03836W103'
unique_blk_data.loc[idx, 'TICKER'] = 'WTR'

In [84]:
# 45
idx = unique_blk_data.CUSIP == '24983L104'
unique_blk_data.loc[idx, 'TICKER'] = 'DERM'

In [85]:
# 46
idx = unique_blk_data.CUSIP == '47009K107'
unique_blk_data.loc[idx, 'TICKER'] = 'JAG'

In [86]:
# 47
idx = unique_blk_data.CUSIP == '04269E107'
unique_blk_data.loc[idx, 'TICKER'] = 'AROL'

In [87]:
idx = unique_blk_data.TICKER.isna() == True
unique_blk_data[idx]

Empty DataFrame
Columns: [NAME_OF_ISSUER, CUSIP, TICKER, RT, BLK]
Index: []

In [88]:
len(set(unique_blk_data.TICKER))

999

In [92]:
len(set(unique_blk_data.TICKER) -  set(stocks.TICKER))

999

In [93]:
idx = stocks.TICKER=='GURE'
stocks[idx]

Empty DataFrame
Columns: [NAME_OF_ISSUER, CUSIP, TICKER, RT, BLK]
Index: []

In [96]:
import yfinance as yf

for i, ticker in enumerate(unique_blk_data['TICKER']): 
    try:
        asset = yf.Ticker(ticker)
        # shortName = asset.info['shortName']
        hist = asset.history(period="1mo")
        # print(f"found {ticker}!")
    except:
        print(f"***{ticker} not found!")

- WCG: No data found for this date range, symbol may be delisted
- TRCB: No data found for this date range, symbol may be delisted
- SRCI: No data found, symbol may be delisted
- LTS: No data found for this date range, symbol may be delisted
- GNMX: No data found for this date range, symbol may be delisted
- CRCM: No data found for this date range, symbol may be delisted
- CART: No data found for this date range, symbol may be delisted
- AVP: No data found for this date range, symbol may be delisted
- NFEC: No data found for this date range, symbol may be delisted
- ENFC: No data found for this date range, symbol may be delisted
- MDCO: No data found for this date range, symbol may be delisted
- WAIR: No data found for this date range, symbol may be delisted
- BKJ: No data found, symbol may be delisted
- DPLO: No data found for this date range, symbol may be delisted
- ACHN: No data found for this date range, symbol may be delisted
- CBPX: No data found for this date range, symbol may be delisted
- ECA: No data found for this date range, symbol may be delisted
- UCFC: No data found for this date range, symbol may be delisted
- CECO: No data found for this date range, symbol may be delisted
- PRTO: No data found for this date range, symbol may be delisted
- IPHS: No data found for this date range, symbol may be delisted
- BOLD: No data found for this date range, symbol may be delisted
- WTR: No data found for this date range, symbol may be delisted
- DERM: No data found for this date range, symbol may be delisted
- JAG: No data found for this date range, symbol may be delisted
- AROL: No data found, symbol may be delisted

In [97]:
# save before attempting to drop tickers
save_unique_blk_data = unique_blk_data

tickers_to_drop = ['WCG',  'TRCB', 'SRCI', 'LTS',  'GNMX', 'CRCM',
                   'CART', 'AVP',  'NFEC', 'ENFC', 'MDCO', 'WAIR',
                   'BKJ',  'DPLO', 'ACHN', 'CBPX', 'ECA',  'UCFC',
                   'CECO', 'PRTO', 'IPHS', 'BOLD', 'WTR',  'DERM',
                   'JAG',  'AROL']

for ticker in tickers_to_drop:
    idx = unique_blk_data.TICKER == ticker
    unique_blk_data = unique_blk_data.loc[~idx]
    
len(unique_blk_data), 999-26, len(unique_blk_data) == 999-26

(973, 973, True)

In [98]:
combined = stocks.append(unique_blk_data)
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3015 entries, 0 to 1687
Data columns (total 5 columns):
NAME_OF_ISSUER    3015 non-null object
CUSIP             3015 non-null object
TICKER            3015 non-null object
RT                3015 non-null int64
BLK               3015 non-null int64
dtypes: int64(2), object(3)
memory usage: 141.3+ KB

In [100]:
len(combined.TICKER) == len(set(combined.TICKER))

True

In [101]:
idx = (combined.RT == 1) & (combined.BLK == 1)
len(combined[idx])

1968

In [102]:
idx = (combined.RT == 1) & (combined.BLK == 0)
len(combined[idx])

74

In [103]:
idx = (combined.RT == 0) & (combined.BLK == 1)
len(combined[idx])

973

In [104]:
idx = (combined.RT == 0) & (combined.BLK == 0)
len(combined[idx])

0

In [105]:
1968+74+973+0

3015

In [106]:
for i, ticker in enumerate(combined['TICKER']): 
    try:
        asset = yf.Ticker(ticker)
        hist = asset.history(period="1mo")
        # print(f"found {ticker}!")
    except:
        print(f"***{ticker} not found!")

- CSS: No data found for this date range, symbol may be delisted
- SAUC: No data found for this date range, symbol may be delisted
- GRTX: No data found, symbol may be delisted
- ENTG: No data found for this date range, symbol may be delisted

In [109]:
tickers_to_drop = ['CSS', 'SAUC', 'GRTX', 'ENTG']

for ticker in tickers_to_drop:
    idx = combined.TICKER == ticker
    combined = combined.loc[~idx]
    
len(combined), 3015-4, len(combined) == 3015-4

(3011, 3011, True)

In [110]:
for i, ticker in enumerate(combined['TICKER']): 
    try:
        asset = yf.Ticker(ticker)
        hist = asset.history(period="1mo")
        # print(f"found {ticker}!")
    except:
        print(f"***{ticker} not found!")

- SMED: Request Failed

In [111]:
idx = (combined.RT == 1) & (combined.BLK == 1)
len(combined[idx])

1966

In [112]:
idx = (combined.RT == 1) & (combined.BLK == 0)
len(combined[idx])

74

In [113]:
idx = (combined.RT == 0) & (combined.BLK == 1)
len(combined[idx])

971

In [114]:
idx = (combined.RT == 0) & (combined.BLK == 0)
len(combined[idx])

0

In [116]:
combined

                NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
0      1347 PPTY INS HLDGS INC  68244P107    PIH   1    1
1     1ST CONSTITUTION BANCORP  31986N102   FCCY   1    1
2              1ST SOURCE CORP  336901103   SRCE   1    1
3                        3M CO  88579Y101    MMM   1    1
4             A10 NETWORKS INC  002121101   ATEN   1    1
...                        ...        ...    ...  ..  ...
867              DYNEX CAP INC  26817Q886     DX   0    1
1407            INMUNE BIO INC  45782T105   INMB   0    1
2679                TRANSUNION  89400J107    TRU   0    1
626             CITRIX SYS INC  177376100   CTXS   0    1
1687             MARINEMAX INC  567908108    HZO   0    1

[3011 rows x 5 columns]

In [117]:
combined.to_csv(f'{path}stocks.csv', index=False)

In [118]:
test=pd.read_csv(f'{path}stocks.csv')

In [119]:
test.head(10)

             NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
0   1347 PPTY INS HLDGS INC  68244P107    PIH   1    1
1  1ST CONSTITUTION BANCORP  31986N102   FCCY   1    1
2           1ST SOURCE CORP  336901103   SRCE   1    1
3                     3M CO  88579Y101    MMM   1    1
4          A10 NETWORKS INC  002121101   ATEN   1    1
5                  AAR CORP  000361105    AIR   1    1
6                ABBVIE INC  00287Y109   ABBV   1    1
7               ABIOMED INC  003654100   ABMD   1    1
8              ABM INDS INC  000957100    ABM   1    1
9         ABRAXAS PETE CORP  003830106   AXAS   1    1

# Merge Renaissance Technologies Feb 2020 F-13HR Filing

In [145]:
rt202002=pd.read_csv(f'{path}/F13_RT_202002.txt', sep='\t')
blackrock.head(10)

,NAME_OF_ISSUER,TITLE_OF_CLASS,CUSIP,VALUE,SHRS_OR_PRN_AMT,SH_OR_PRN,PUT_OR_CALL,DISCRETION,OTHER_MANAGER,SOLE_VOTING_AUTH,SHARED_VOTING_AUTH,NO_VOTING_AUTH
0,EURODRY LTD,COM,Y23508107,"1,404","180,000",SH,,SOLE,42,"180,000",0,0
2,ENVESTNET INC,COM,29404K106,"164,036","2,355,816",SH,,SOLE,0,"2,355,816",0,0
13,1347 PPTY INS HLDGS INC,COM,68244P107,34,"6,165",SH,,SOLE,21,"6,165",0,0
14,1895 BANCORP OF WIS INC,COM,28252W105,17,"1,607",SH,,SOLE,21,"1,607",0,0
15,1ST CONSTITUTION BANCORP,COM,31986N102,196,"8,849",SH,,SOLE,2,350,0,"8,499"
16,1ST CONSTITUTION BANCORP,COM,31986N102,611,"27,620",SH,,SOLE,18,"27,620",0,0
17,1ST CONSTITUTION BANCORP,COM,31986N102,288,"12,997",SH,,SOLE,19,"12,997",0,0
18,1ST CONSTITUTION BANCORP,COM,31986N102,"7,031","317,729",SH,,SOLE,21,"317,729",0,0
19,1ST CONSTITUTION BANCORP,COM,31986N102,"1,515","68,459",SH,,SOLE,22,"64,030",0,"4,429"
20,1ST SOURCE CORP,COM,336901103,803,"15,469",SH,,SOLE,2,675,0,"14,794"

In [146]:
rt202002.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3469 entries, 0 to 3468
Data columns (total 12 columns):
NAME_OF_ISSUER        3469 non-null object
TITLE_OF_CLASS        3469 non-null object
CUSIP                 3469 non-null object
VALUE                 3469 non-null object
SHRS_OR_PRN_AMT       3469 non-null object
SH_OR_PRN             3469 non-null object
PUT_OR_CALL           3469 non-null object
DISCRETION            3469 non-null object
OTHER_MANAGER         3469 non-null int64
SOLE_VOTING_AUTH      3469 non-null object
SHARED_VOTING_AUTH    3469 non-null int64
NO_VOTING_AUTH        3469 non-null object
dtypes: int64(2), object(10)
memory usage: 325.3+ KB

In [147]:
rt202002['TICKER'] = np.NaN
idx = rt202002.TITLE_OF_CLASS == 'COM'
rt202002 = rt202002[idx]
rt202002.head(10)

,NAME_OF_ISSUER,TITLE_OF_CLASS,CUSIP,VALUE,SHRS_OR_PRN_AMT,SH_OR_PRN,PUT_OR_CALL,DISCRETION,OTHER_MANAGER,SOLE_VOTING_AUTH,SHARED_VOTING_AUTH,NO_VOTING_AUTH,TICKER
0,1347 PPTY INS HLDGS INC,COM,68244P107,495,"89,662",SH,,SOLE,0,"89,662",0,0,NaN
1,1ST CONSTITUTION BANCORP,COM,31986N102,"3,075","138,953",SH,,SOLE,0,"124,347",0,"14,606",NaN
2,1ST SOURCE CORP,COM,336901103,"18,392","354,514",SH,,SOLE,0,"344,840",0,"9,674",NaN
7,A10 NETWORKS INC,COM,002121101,"15,148","2,205,000",SH,,SOLE,0,"2,205,000",0,0,NaN
8,AAR CORP,COM,000361105,"2,379","52,760",SH,,SOLE,0,"51,226",0,"1,534",NaN
10,ABBVIE INC,COM,00287Y109,"1,044,484","11,796,744",SH,,SOLE,0,"10,253,645",0,"1,543,099",NaN
13,ABIOMED INC,COM,003654100,"396,284","2,323,023",SH,,SOLE,0,"2,144,839",0,"178,184",NaN
14,ABM INDS INC,COM,000957100,"3,232","85,700",SH,,SOLE,0,"49,198",0,"36,502",NaN
15,ABRAXAS PETE CORP,COM,003830106,278,"791,620",SH,,SOLE,0,"14,815",0,"776,805",NaN
16,ACACIA COMMUNICATIONS INC,COM,00401C108,"42,225","622,700",SH,,SOLE,0,"585,882",0,"36,818",NaN

In [148]:
rt202002.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 3467
Data columns (total 13 columns):
NAME_OF_ISSUER        2126 non-null object
TITLE_OF_CLASS        2126 non-null object
CUSIP                 2126 non-null object
VALUE                 2126 non-null object
SHRS_OR_PRN_AMT       2126 non-null object
SH_OR_PRN             2126 non-null object
PUT_OR_CALL           2126 non-null object
DISCRETION            2126 non-null object
OTHER_MANAGER         2126 non-null int64
SOLE_VOTING_AUTH      2126 non-null object
SHARED_VOTING_AUTH    2126 non-null int64
NO_VOTING_AUTH        2126 non-null object
TICKER                0 non-null float64
dtypes: float64(1), int64(2), object(10)
memory usage: 232.5+ KB

In [149]:
rt202002 = rt202002[['NAME_OF_ISSUER', 'CUSIP', 'TICKER']]
rt202002.head(10)

               NAME_OF_ISSUER      CUSIP  TICKER
0     1347 PPTY INS HLDGS INC  68244P107     NaN
1    1ST CONSTITUTION BANCORP  31986N102     NaN
2             1ST SOURCE CORP  336901103     NaN
7            A10 NETWORKS INC  002121101     NaN
8                    AAR CORP  000361105     NaN
10                 ABBVIE INC  00287Y109     NaN
13                ABIOMED INC  003654100     NaN
14               ABM INDS INC  000957100     NaN
15          ABRAXAS PETE CORP  003830106     NaN
16  ACACIA COMMUNICATIONS INC  00401C108     NaN

In [150]:
rt202002_cusip = set(rt202002.CUSIP)
idx = combined.RT == 1
rt201911_cusip = set(combined[idx].CUSIP)

In [151]:
len(rt202002_cusip), len(rt201911_cusip)

(2126, 2040)

In [152]:
len(rt202002_cusip & rt201911_cusip)

1805

In [153]:
len(rt202002_cusip - rt201911_cusip)

321

In [154]:
len(rt201911_cusip - rt202002_cusip)

235

In [157]:
len(rt201911_cusip | rt202002_cusip)

2361

In [158]:
1805+321+235

2361

In [159]:
len(combined)

3011

In [160]:
len(test)

3011

In [163]:
cusip_to_drop = rt201911_cusip - rt202002_cusip
for cusip in cusip_to_drop:
    idx = combined.CUSIP == cusip
    combined = combined[~idx]
    
idx = combined.RT == 1
len(combined[idx]), len(combined), 3011 - 2776

(1805, 2776, 235)

In [164]:
idx = (combined.RT == 1) & (combined.BLK == 1)
len(combined[idx])

1743

In [165]:
idx = (combined.RT == 1) & (combined.BLK == 0)
len(combined[idx])

62

In [166]:
idx = (combined.RT == 0) & (combined.BLK == 1)
len(combined[idx])

971

In [167]:
idx = (combined.RT == 0) & (combined.BLK == 0)
len(combined[idx])

0

In [168]:
rt202002.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 3467
Data columns (total 3 columns):
NAME_OF_ISSUER    2126 non-null object
CUSIP             2126 non-null object
TICKER            0 non-null float64
dtypes: float64(1), object(2)
memory usage: 66.4+ KB

In [172]:
cusip_list = rt202002_cusip - rt201911_cusip
cols = ['NAME_OF_ISSUER', 'CUSIP', 'TICKER', 'RT', 'BLK']
new_rt202002 = pd.DataFrame(columns=cols)

for cusip in cusip_list:
    idx = rt202002.CUSIP == cusip
    row = rt202002[idx]
    assert len(row) == 1, "CUSIP is not unique!"
    
    row.loc[[True], 'RT'] = 1
    
    idx = (combined.CUSIP == cusip) & (combined.BLK == 1)
    row.loc[[True], 'BLK'] = 1 if len(combined[idx]) > 0 else 0
    
    new_rt202002 = new_rt202002.append(row)

new_rt202002.RT = new_rt202002.RT.astype(int)
new_rt202002.BLK = new_rt202002.BLK.astype(int)
new_rt202002.head(10)

                    NAME_OF_ISSUER      CUSIP  TICKER  RT  BLK
1973            MARATHON PETE CORP  56585A102     NaN   1    1
2473                POWERFLEET INC  73931J109     NaN   1    1
789                    CONMED CORP  207410101     NaN   1    1
2130             MYR GROUP INC DEL  55405W104     NaN   1    1
962   DONNELLEY FINL SOLUTIONS INC  25787G100     NaN   1    1
1307         GENERAL DYNAMICS CORP  369550108     NaN   1    1
1003           EDITAS MEDICINE INC  28106W103     NaN   1    1
1612     INTELLIA THERAPEUTICS INC  45826J105     NaN   1    1
3361     WELLCARE HEALTH PLANS INC  94946T106     NaN   1    0
2770          SENECA BIOPHARMA INC  81689B103     NaN   1    1

In [173]:
new_rt202002.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 321 entries, 1973 to 1975
Data columns (total 5 columns):
NAME_OF_ISSUER    321 non-null object
CUSIP             321 non-null object
TICKER            0 non-null float64
RT                321 non-null int64
BLK               321 non-null int64
dtypes: float64(1), int64(2), object(2)
memory usage: 15.0+ KB

In [174]:
idx = (new_rt202002.RT == 1) & (new_rt202002.BLK == 1)
len(new_rt202002[idx])

279

In [175]:
idx = (new_rt202002.RT == 1) & (new_rt202002.BLK == 0)
len(new_rt202002[idx])

42

In [176]:
idx = (new_rt202002.RT == 0) & (new_rt202002.BLK == 1)
len(new_rt202002[idx])

0

In [177]:
idx = (new_rt202002.RT == 0) & (new_rt202002.BLK == 0)
len(new_rt202002[idx])

0

In [178]:
idx = (new_rt202002.RT == 1) & (new_rt202002.BLK == 1)
cusip_list = list(new_rt202002[idx].CUSIP)

for cusip in cusip_list:
    idx = combined.CUSIP == cusip
    assert len(combined[idx]) == 1, "CUSIP not unique!"
    combined.loc[idx, 'RT'] = 1

In [179]:
idx = (combined.RT == 1) & (combined.BLK == 1)
len(combined[idx])

2022

In [180]:
idx = (combined.RT == 0) & (combined.BLK == 1)
len(combined[idx])

692

In [181]:
idx = (combined.RT == 1) & (combined.BLK == 0)
len(combined[idx])

62

In [182]:
idx = (combined.RT == 0) & (combined.BLK == 0)
len(combined[idx])

0

In [183]:
idx = (new_rt202002.RT == 1) & (new_rt202002.BLK == 0)
cusip_list = list(new_rt202002[idx].CUSIP)
len(cusip_list)

42

In [185]:
idx = (new_rt202002.RT == 1) & (new_rt202002.BLK == 0)
new_df = new_rt202002[idx]
new_df

                    NAME_OF_ISSUER      CUSIP  TICKER  RT  BLK
3361     WELLCARE HEALTH PLANS INC  94946T106     NaN   1    0
2511  PROTALIX BIOTHERAPEUTICS INC  74365A309     NaN   1    0
2854             SORL AUTO PTS INC  78461U101     NaN   1    0
1367        GOLD STD VENTURES CORP  380738104     NaN   1    0
2784                 SG BLOCKS INC  78418A307     NaN   1    0
3155               TWO RIV BANCORP  90207C105     NaN   1    0
968                  DPW HLDGS INC  26140E600     NaN   1    0
68      AGEAGLE AERIAL SYS INC NEW  00848K101     NaN   1    0
1836  LADENBURG THALMAN FIN SVCS I  50575Q102     NaN   1    0
65       AEVI GENOMIC MEDICINE INC  00835P105     NaN   1    0
403   BELLEROPHON THERAPEUTICS INC  078771102     NaN   1    0
563                   CARE COM INC  141633107     NaN   1    0
573     CAROLINA TR BANCSHARES INC  14422P105     NaN   1    0
2129                     MYOMO INC  62857J102     NaN   1    0
337                 AVON PRODS INC  054303102     NaN   1    0
1266         FREEDOM HLDG CORP NEV  356390104     NaN   1    0
2812        SILVERCREST METALS INC  828363101     NaN   1    0
1960               MAG SILVER CORP  55903Q104     NaN   1    0
2799           SIERRA ONCOLOGY INC  82640U107     NaN   1    0
1064             ENTEGRA FINL CORP  29363J108     NaN   1    0
2276           OBSIDIAN ENERGY LTD  674482203     NaN   1    0
2012                  MEDICINES CO  584688105     NaN   1    0
362     BANCORP NEW JERSEY INC NEW  059915108     NaN   1    0
944          DIPLOMAT PHARMACY INC  25456K101     NaN   1    0
25    ACHILLION PHARMACEUTICALS IN  00448Q201     NaN   1    0
803     CONTINENTAL BLDG PRODS INC  211171103     NaN   1    0
1039                   ENCANA CORP  292505104     NaN   1    0
3178   UNITED CMNTY FINL CORP OHIO  909839102     NaN   1    0
1350   GLOBUS MARITIME LIMITED NEW  Y27265407     NaN   1    0
564          CAREER EDUCATION CORP  141665109     NaN   1    0
741             CO DIAGNOSTICS INC  189763105     NaN   1    0
867                   CSS INDS INC  125906107     NaN   1    0
2513      PROTEON THERAPEUTICS INC  74371L109     NaN   1    0
1594         INNOPHOS HOLDINGS INC  45774N108     NaN   1    0
1070            ENVELA CORPORATION  29402E102     NaN   1    0
908                  DAVIDSTEA INC  238661102     NaN   1    0
1316        GENIUS BRANDS INTL INC  37229T301     NaN   1    0
916     DELMAR PHARMACEUTICALS INC  247078306     NaN   1    0
310      AUDENTES THERAPEUTICS INC  05070R104     NaN   1    0
3425       XENETIC BIOSCIENCES INC  984015503     NaN   1    0
923                    DERMIRA INC  24983L104     NaN   1    0
262                     ARQULE INC  04269E107     NaN   1    0

In [186]:
driver = webdriver.Chrome(chrome_path, options=options)
driver.set_window_size(1400,1000)
driver.get('https://quotes.fidelity.com/mmnet/SymLookup.phtml?QUOTE_TYPE=D')

In [187]:
cnt = -1

for cusip in cusip_list:
    try:
        cnt = cnt + 1
        driver.find_elements_by_css_selector('option')[6].click()
        time.sleep(1)
        search_bar = driver.find_element_by_name('criteria')
        search_bar.send_keys(cusip)
        search_bar.send_keys(Keys.ENTER)
        page_source = driver.page_source
        soup = BeautifulSoup(page_source)
        tables = soup.findAll('table')
        table = tables[8].prettify()
        df = pd.read_html(table)[0]
        
        ticker = df.loc[2][1]
        if cnt % 50 == 0:
            print(f"cnt={cnt}\t\tticker={ticker}")
        
        idx = new_df.CUSIP == cusip
        new_df.loc[idx, 'TICKER'] = ticker
        
        driver.find_element_by_name('Reset').click()
        time.sleep(1)
    except:
        driver.find_element_by_name('Reset').click()
        time.sleep(1)
        continue

In [188]:
new_df

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
3361     WELLCARE HEALTH PLANS INC  94946T106    NaN   1    0
2511  PROTALIX BIOTHERAPEUTICS INC  74365A309    PLX   1    0
2854             SORL AUTO PTS INC  78461U101   SORL   1    0
1367        GOLD STD VENTURES CORP  380738104    GSV   1    0
2784                 SG BLOCKS INC  78418A307    NaN   1    0
3155               TWO RIV BANCORP  90207C105    NaN   1    0
968                  DPW HLDGS INC  26140E600    DPW   1    0
68      AGEAGLE AERIAL SYS INC NEW  00848K101   UAVS   1    0
1836  LADENBURG THALMAN FIN SVCS I  50575Q102    NaN   1    0
65       AEVI GENOMIC MEDICINE INC  00835P105    NaN   1    0
403   BELLEROPHON THERAPEUTICS INC  078771102    NaN   1    0
563                   CARE COM INC  141633107    NaN   1    0
573     CAROLINA TR BANCSHARES INC  14422P105    NaN   1    0
2129                     MYOMO INC  62857J102    NaN   1    0
337                 AVON PRODS INC  054303102    NaN   1    0
1266         FREEDOM HLDG CORP NEV  356390104   FRHC   1    0
2812        SILVERCREST METALS INC  828363101   SILV   1    0
1960               MAG SILVER CORP  55903Q104    MAG   1    0
2799           SIERRA ONCOLOGY INC  82640U107    NaN   1    0
1064             ENTEGRA FINL CORP  29363J108    NaN   1    0
2276           OBSIDIAN ENERGY LTD  674482203  OBELF   1    0
2012                  MEDICINES CO  584688105    NaN   1    0
362     BANCORP NEW JERSEY INC NEW  059915108    NaN   1    0
944          DIPLOMAT PHARMACY INC  25456K101    NaN   1    0
25    ACHILLION PHARMACEUTICALS IN  00448Q201    NaN   1    0
803     CONTINENTAL BLDG PRODS INC  211171103    NaN   1    0
1039                   ENCANA CORP  292505104    NaN   1    0
3178   UNITED CMNTY FINL CORP OHIO  909839102    NaN   1    0
1350   GLOBUS MARITIME LIMITED NEW  Y27265407   GLBS   1    0
564          CAREER EDUCATION CORP  141665109    NaN   1    0
741             CO DIAGNOSTICS INC  189763105   CODX   1    0
867                   CSS INDS INC  125906107    NaN   1    0
2513      PROTEON THERAPEUTICS INC  74371L109    NaN   1    0
1594         INNOPHOS HOLDINGS INC  45774N108    NaN   1    0
1070            ENVELA CORPORATION  29402E102    ELA   1    0
908                  DAVIDSTEA INC  238661102   DTEA   1    0
1316        GENIUS BRANDS INTL INC  37229T301   GNUS   1    0
916     DELMAR PHARMACEUTICALS INC  247078306   DMPI   1    0
310      AUDENTES THERAPEUTICS INC  05070R104    NaN   1    0
3425       XENETIC BIOSCIENCES INC  984015503   XBIO   1    0
923                    DERMIRA INC  24983L104    NaN   1    0
262                     ARQULE INC  04269E107    NaN   1    0

In [189]:
idx = new_df.TICKER.isna() == True
new_df[idx]

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
3361     WELLCARE HEALTH PLANS INC  94946T106    NaN   1    0
2784                 SG BLOCKS INC  78418A307    NaN   1    0
3155               TWO RIV BANCORP  90207C105    NaN   1    0
1836  LADENBURG THALMAN FIN SVCS I  50575Q102    NaN   1    0
65       AEVI GENOMIC MEDICINE INC  00835P105    NaN   1    0
403   BELLEROPHON THERAPEUTICS INC  078771102    NaN   1    0
563                   CARE COM INC  141633107    NaN   1    0
573     CAROLINA TR BANCSHARES INC  14422P105    NaN   1    0
2129                     MYOMO INC  62857J102    NaN   1    0
337                 AVON PRODS INC  054303102    NaN   1    0
2799           SIERRA ONCOLOGY INC  82640U107    NaN   1    0
1064             ENTEGRA FINL CORP  29363J108    NaN   1    0
2012                  MEDICINES CO  584688105    NaN   1    0
362     BANCORP NEW JERSEY INC NEW  059915108    NaN   1    0
944          DIPLOMAT PHARMACY INC  25456K101    NaN   1    0
25    ACHILLION PHARMACEUTICALS IN  00448Q201    NaN   1    0
803     CONTINENTAL BLDG PRODS INC  211171103    NaN   1    0
1039                   ENCANA CORP  292505104    NaN   1    0
3178   UNITED CMNTY FINL CORP OHIO  909839102    NaN   1    0
564          CAREER EDUCATION CORP  141665109    NaN   1    0
867                   CSS INDS INC  125906107    NaN   1    0
2513      PROTEON THERAPEUTICS INC  74371L109    NaN   1    0
1594         INNOPHOS HOLDINGS INC  45774N108    NaN   1    0
310      AUDENTES THERAPEUTICS INC  05070R104    NaN   1    0
923                    DERMIRA INC  24983L104    NaN   1    0
262                     ARQULE INC  04269E107    NaN   1    0

In [190]:
len(new_df[idx])

26

In [191]:
idx = new_df.index == 2784
new_df.loc[idx, 'TICKER'] = 'SGBX'

In [192]:
idx = new_df.index == 403
new_df.loc[idx, 'TICKER'] = 'BLPH'

In [193]:
idx = new_df.index == 2129
new_df.loc[idx, 'TICKER'] = 'MYO'

In [194]:
idx = new_df.index == 2799
new_df.loc[idx, 'TICKER'] = 'SRRA'

In [195]:
idx = new_df.TICKER.isna() == True
new_df[idx]

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
3361     WELLCARE HEALTH PLANS INC  94946T106    NaN   1    0
3155               TWO RIV BANCORP  90207C105    NaN   1    0
1836  LADENBURG THALMAN FIN SVCS I  50575Q102    NaN   1    0
65       AEVI GENOMIC MEDICINE INC  00835P105    NaN   1    0
563                   CARE COM INC  141633107    NaN   1    0
573     CAROLINA TR BANCSHARES INC  14422P105    NaN   1    0
337                 AVON PRODS INC  054303102    NaN   1    0
1064             ENTEGRA FINL CORP  29363J108    NaN   1    0
2012                  MEDICINES CO  584688105    NaN   1    0
362     BANCORP NEW JERSEY INC NEW  059915108    NaN   1    0
944          DIPLOMAT PHARMACY INC  25456K101    NaN   1    0
25    ACHILLION PHARMACEUTICALS IN  00448Q201    NaN   1    0
803     CONTINENTAL BLDG PRODS INC  211171103    NaN   1    0
1039                   ENCANA CORP  292505104    NaN   1    0
3178   UNITED CMNTY FINL CORP OHIO  909839102    NaN   1    0
564          CAREER EDUCATION CORP  141665109    NaN   1    0
867                   CSS INDS INC  125906107    NaN   1    0
2513      PROTEON THERAPEUTICS INC  74371L109    NaN   1    0
1594         INNOPHOS HOLDINGS INC  45774N108    NaN   1    0
310      AUDENTES THERAPEUTICS INC  05070R104    NaN   1    0
923                    DERMIRA INC  24983L104    NaN   1    0
262                     ARQULE INC  04269E107    NaN   1    0

In [196]:
len(new_df[idx])

22

In [197]:
new_df[~idx]

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
2511  PROTALIX BIOTHERAPEUTICS INC  74365A309    PLX   1    0
2854             SORL AUTO PTS INC  78461U101   SORL   1    0
1367        GOLD STD VENTURES CORP  380738104    GSV   1    0
2784                 SG BLOCKS INC  78418A307   SGBX   1    0
968                  DPW HLDGS INC  26140E600    DPW   1    0
68      AGEAGLE AERIAL SYS INC NEW  00848K101   UAVS   1    0
403   BELLEROPHON THERAPEUTICS INC  078771102   BLPH   1    0
2129                     MYOMO INC  62857J102    MYO   1    0
1266         FREEDOM HLDG CORP NEV  356390104   FRHC   1    0
2812        SILVERCREST METALS INC  828363101   SILV   1    0
1960               MAG SILVER CORP  55903Q104    MAG   1    0
2799           SIERRA ONCOLOGY INC  82640U107   SRRA   1    0
2276           OBSIDIAN ENERGY LTD  674482203  OBELF   1    0
1350   GLOBUS MARITIME LIMITED NEW  Y27265407   GLBS   1    0
741             CO DIAGNOSTICS INC  189763105   CODX   1    0
1070            ENVELA CORPORATION  29402E102    ELA   1    0
908                  DAVIDSTEA INC  238661102   DTEA   1    0
1316        GENIUS BRANDS INTL INC  37229T301   GNUS   1    0
916     DELMAR PHARMACEUTICALS INC  247078306   DMPI   1    0
3425       XENETIC BIOSCIENCES INC  984015503   XBIO   1    0

In [198]:
len(new_df[~idx])

20

In [199]:
new_df = new_df[~idx]
new_df

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
2511  PROTALIX BIOTHERAPEUTICS INC  74365A309    PLX   1    0
2854             SORL AUTO PTS INC  78461U101   SORL   1    0
1367        GOLD STD VENTURES CORP  380738104    GSV   1    0
2784                 SG BLOCKS INC  78418A307   SGBX   1    0
968                  DPW HLDGS INC  26140E600    DPW   1    0
68      AGEAGLE AERIAL SYS INC NEW  00848K101   UAVS   1    0
403   BELLEROPHON THERAPEUTICS INC  078771102   BLPH   1    0
2129                     MYOMO INC  62857J102    MYO   1    0
1266         FREEDOM HLDG CORP NEV  356390104   FRHC   1    0
2812        SILVERCREST METALS INC  828363101   SILV   1    0
1960               MAG SILVER CORP  55903Q104    MAG   1    0
2799           SIERRA ONCOLOGY INC  82640U107   SRRA   1    0
2276           OBSIDIAN ENERGY LTD  674482203  OBELF   1    0
1350   GLOBUS MARITIME LIMITED NEW  Y27265407   GLBS   1    0
741             CO DIAGNOSTICS INC  189763105   CODX   1    0
1070            ENVELA CORPORATION  29402E102    ELA   1    0
908                  DAVIDSTEA INC  238661102   DTEA   1    0
1316        GENIUS BRANDS INTL INC  37229T301   GNUS   1    0
916     DELMAR PHARMACEUTICALS INC  247078306   DMPI   1    0
3425       XENETIC BIOSCIENCES INC  984015503   XBIO   1    0

In [200]:
combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2776 entries, 0 to 3010
Data columns (total 5 columns):
NAME_OF_ISSUER    2776 non-null object
CUSIP             2776 non-null object
TICKER            2776 non-null object
RT                2776 non-null int64
BLK               2776 non-null int64
dtypes: int64(2), object(3)
memory usage: 130.1+ KB

In [201]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 2511 to 3425
Data columns (total 5 columns):
NAME_OF_ISSUER    20 non-null object
CUSIP             20 non-null object
TICKER            20 non-null object
RT                20 non-null int64
BLK               20 non-null int64
dtypes: int64(2), object(3)
memory usage: 960.0+ bytes

In [202]:
combined = combined.append(new_df)

In [203]:
idx = (combined.RT == 1) & (combined.BLK == 1)
len(combined[idx])

2022

In [204]:
idx = (combined.RT == 1) & (combined.BLK == 0)
len(combined[idx])

82

In [205]:
idx = (combined.RT == 0) & (combined.BLK == 1)
len(combined[idx])

692

In [206]:
idx = (combined.RT == 0) & (combined.BLK == 0)
len(combined[idx])

0

In [207]:
2022+82+692+0

2796

In [208]:
import yfinance as yf

for i, ticker in enumerate(combined['TICKER']): 
    try:
        asset = yf.Ticker(ticker)
        # shortName = asset.info['shortName']
        hist = asset.history(period="1mo")
        if i % 100 == 0:
            print(f"i={i}\t\tticker={ticker}")
        # print(f"found {ticker}!")
    except:
        print(f"***{ticker} not found!")

i=0		ticker=PIH
i=100		ticker=AWK
i=200		ticker=AZZ
i=300		ticker=CTST
i=400		ticker=KO
i=500		ticker=DXLG
i=600		ticker=EXPD
i=700		ticker=GCAP
i=800		ticker=HEXO
i=900		ticker=ITRI
i=1000		ticker=LOOP
i=1100		ticker=MORN
i=1200		ticker=OHI
i=1300		ticker=POST
i=1400		ticker=RMNI
i=1500		ticker=SMBC
i=1600		ticker=TTI
i=1700		ticker=VAR
i=1800		ticker=ZIOP
i=1900		ticker=TYME
i=2000		ticker=WAB
i=2100		ticker=BYFC
i=2200		ticker=GBX
i=2300		ticker=VRAY
i=2400		ticker=HGV
i=2500		ticker=TRMT
i=2600		ticker=ACIW
i=2700		ticker=TPTX

In [209]:
combined.to_csv(f'{path}stocks202002.csv', index=False)

In [210]:
tes=pd.read_csv(f'{path}stocks202002.csv')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3011 entries, 0 to 3010
Data columns (total 5 columns):
NAME_OF_ISSUER    3011 non-null object
CUSIP             3011 non-null object
TICKER            3011 non-null object
RT                3011 non-null int64
BLK               3011 non-null int64
dtypes: int64(2), object(3)
memory usage: 117.7+ KB

In [212]:
test.sample(30)

                    NAME_OF_ISSUER      CUSIP TICKER  RT  BLK
1339          OCCIDENTAL PETE CORP  674599105    OXY   1    1
2170              FRANKLIN RES INC  354613101    BEN   0    1
1221                 M/I HOMES INC  55305B101    MHO   1    1
292         BRIGGS & STRATTON CORP  109043109    BGG   1    1
2081         WRAP TECHNOLOGIES INC  98212N107   WRTC   0    1
1035                 JMP GROUP LLC  46629U107    JMP   1    0
2414  HEWLETT PACKARD ENTERPRISE C  42824C109    HPE   0    1
2462        GRITSTONE ONCOLOGY INC  39868T105   GRTS   0    1
1109                 LGL GROUP INC  50186A108    LGL   1    1
2138                    NLIGHT INC  65487K100   LASR   0    1
356                   CATALENT INC  148806102   CTLT   1    1
846        GREAT WESTN BANCORP INC  391416104    GWB   1    1
2436         FIRST FINL BANKSHARES  32020R109   FFIN   0    1
185                   ATHERSYS INC  04744L106   ATHX   1    1
170               ARTS WAY MFG INC  043168103   ARTW   1    1
2881  TITAN PHARMACEUTICALS INC DE  888314507   TTNP   0    1
30      ADVANCED DISP SVCS INC DEL  00790X101   ADSW   1    1
149             ARCA BIOPHARMA INC  00211Y506   ABIO   1    1
2937     TELEDYNE TECHNOLOGIES INC  879360105    TDY   0    1
2796            BLOOMIN BRANDS INC  094235108   BLMN   0    1
1374  ORION ENGINEERED CARBONS S A  L72967109    OEC   1    1
493   CORE MOLDING TECHNOLOGIES IN  218683100    CMT   1    1
137   APOLLO COML REAL EST FIN INC  03762U105    ARI   1    1
1973        WEBSTER FINL CORP CONN  947890109    WBS   1    1
774                  FRONTDOOR INC  35905A109   FTDR   1    1
2278              NOBLE ENERGY INC  655044105    NBL   0    1
2743                  COMERICA INC  200340107    CMA   0    1
512                       CREE INC  225447101   CREE   1    1
2666        NEW AGE BEVERAGES CORP  64157V108   NBEV   0    1
206            AVERY DENNISON CORP  053611109    AVY   1    1