In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
trades_df = pd.read_csv('~/Stockie/data/full_possible_trades.csv')
trades_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
0,2013-07-15,30.77,2014-04-23,37.07,20.47,195,0.10,A
1,2014-09-05,39.16,2014-10-21,36.63,-6.46,32,-0.21,A
2,2014-11-18,38.69,2015-02-24,39.98,3.33,65,0.05,A
3,2015-06-24,38.30,2015-08-04,38.80,1.31,28,0.05,A
4,2015-08-11,37.66,2015-08-31,34.69,-7.89,14,-0.59,A
...,...,...,...,...,...,...,...,...
64577,2019-09-12,8.56,2019-09-23,9.85,15.07,7,2.03,ZYXI
64578,2019-11-21,9.05,2019-11-29,10.50,16.02,5,3.02,ZYXI
64579,2019-12-09,9.57,2020-01-09,9.77,2.09,21,0.10,ZYXI
64580,2020-02-12,10.32,2020-02-21,11.86,14.92,6,2.34,ZYXI
64581,2020-03-16,9.35,2020-04-08,12.15,29.95,17,1.55,ZYXI

In [3]:
len(trades_df.ticker.unique())

2733

In [4]:
first_buy_df = trades_df.groupby(by='ticker').buy_date.min().reset_index()
first_buy_df

     ticker    buy_date
0         A  2013-07-15
1        AA  2013-07-29
2       AAL  2013-08-19
3      AAMC  2015-08-11
4      AAME  2013-07-10
...     ...         ...
2728   ZUMZ  2013-07-29
2729    ZVO  2020-01-15
2730   ZYME  2018-06-11
2731   ZYNE  2017-06-20
2732   ZYXI  2013-08-14

[2733 rows x 2 columns]

In [5]:
trades_n_stats_df = pd.merge(left=first_buy_df, right=trades_df, on=['ticker', 'buy_date'], how='inner')
trades_n_stats_df

,ticker,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return
0,A,2013-07-15,30.7700,2014-04-23,37.070,20.47,195,0.10
1,AA,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35
2,AAL,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70
3,AAMC,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38
4,AAME,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05
...,...,...,...,...,...,...,...,...
2728,ZUMZ,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06
2729,ZVO,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32
2730,ZYME,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48
2731,ZYNE,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11
2732,ZYXI,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16

In [6]:
trades_n_stats_df['total_cnt']  = 1
trades_n_stats_df['total_days'] = trades_n_stats_df.trading_days
trades_n_stats_df['mean_day']   = trades_n_stats_df.trading_days
trades_n_stats_df['daily_ret']  = trades_n_stats_df.daily_return
trades_n_stats_df

,ticker,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,total_cnt,total_days,mean_day,daily_ret
0,A,2013-07-15,30.7700,2014-04-23,37.070,20.47,195,0.10,1,195,195,0.10
1,AA,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35,1,121,121,0.35
2,AAL,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70,1,44,44,0.70
3,AAMC,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38,1,148,148,-1.38
4,AAME,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05,1,128,128,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...
2728,ZUMZ,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06,1,73,73,0.06
2729,ZVO,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32,1,30,30,-0.32
2730,ZYME,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48,1,44,44,-0.48
2731,ZYNE,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11,1,34,34,-3.11
2732,ZYXI,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16,1,164,164,0.16

In [7]:
trades_n_stats_df['gain'] = trades_n_stats_df.sell_close - trades_n_stats_df.buy_close
trades_n_stats_df

,ticker,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,total_cnt,total_days,mean_day,daily_ret,gain
0,A,2013-07-15,30.7700,2014-04-23,37.070,20.47,195,0.10,1,195,195,0.10,6.3000
1,AA,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35,1,121,121,0.35,9.6400
2,AAL,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70,1,44,44,0.70,5.2600
3,AAMC,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38,1,148,148,-1.38,-92.0700
4,AAME,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05,1,128,128,0.05,0.2212
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,ZUMZ,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06,1,73,73,0.06,1.3100
2729,ZVO,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32,1,30,30,-0.32,-0.1600
2730,ZYME,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48,1,44,44,-0.48,-3.3600
2731,ZYNE,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11,1,34,34,-3.11,-12.1100
2732,ZYXI,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16,1,164,164,0.16,0.0500

In [8]:
trades_n_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2733 entries, 0 to 2732
Data columns (total 13 columns):
ticker          2733 non-null object
buy_date        2733 non-null object
buy_close       2733 non-null float64
sell_date       2733 non-null object
sell_close      2733 non-null float64
gain_pct        2733 non-null float64
trading_days    2733 non-null int64
daily_return    2733 non-null float64
total_cnt       2733 non-null int64
total_days      2733 non-null int64
mean_day        2733 non-null int64
daily_ret       2733 non-null float64
gain            2733 non-null float64
dtypes: float64(6), int64(4), object(3)
memory usage: 298.9+ KB

In [9]:
trades_n_stats_df['cnt_gain']       = int(0)
trades_n_stats_df['min_pct_gain']   = 0.0
trades_n_stats_df['max_pct_gain']   = 0.0
trades_n_stats_df['std_pct_gain']   = 0.0
trades_n_stats_df['mean_pct_gain']  = 0.0
trades_n_stats_df['mean_day_gain']  = 0.0
trades_n_stats_df['gain_daily_ret'] = 0.0

trades_n_stats_df['cnt_loss']       = int(0)
trades_n_stats_df['min_pct_loss']   = 0.0
trades_n_stats_df['max_pct_loss']   = 0.0
trades_n_stats_df['std_pct_loss']   = 0.0
trades_n_stats_df['mean_pct_loss']  = 0.0
trades_n_stats_df['mean_day_loss']  = 0.0
trades_n_stats_df['loss_daily_ret'] = 0.0

trades_n_stats_df['cnt_zero']       = int(0)
trades_n_stats_df['mean_day_zero']  = 0.0

trades_n_stats_df['pct_desired']    = 0.0
trades_n_stats_df['gain_ratio']     = 0.0
trades_n_stats_df['good']           = 0.0

In [10]:
trades_n_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2733 entries, 0 to 2732
Data columns (total 32 columns):
ticker            2733 non-null object
buy_date          2733 non-null object
buy_close         2733 non-null float64
sell_date         2733 non-null object
sell_close        2733 non-null float64
gain_pct          2733 non-null float64
trading_days      2733 non-null int64
daily_return      2733 non-null float64
total_cnt         2733 non-null int64
total_days        2733 non-null int64
mean_day          2733 non-null int64
daily_ret         2733 non-null float64
gain              2733 non-null float64
cnt_gain          2733 non-null int64
min_pct_gain      2733 non-null float64
max_pct_gain      2733 non-null float64
std_pct_gain      2733 non-null float64
mean_pct_gain     2733 non-null float64
mean_day_gain     2733 non-null float64
gain_daily_ret    2733 non-null float64
cnt_loss          2733 non-null int64
min_pct_loss      2733 non-null float64
max_pct_loss      2733 non-null float64
std_pct_loss      2733 non-null float64
mean_pct_loss     2733 non-null float64
mean_day_loss     2733 non-null float64
loss_daily_ret    2733 non-null float64
cnt_zero          2733 non-null int64
mean_day_zero     2733 non-null float64
pct_desired       2733 non-null float64
gain_ratio        2733 non-null float64
good              2733 non-null float64
dtypes: float64(22), int64(7), object(3)
memory usage: 704.6+ KB

In [11]:
idx = trades_n_stats_df.gain > 0
trades_n_stats_df.loc[idx,"cnt_gain"]       = 1
trades_n_stats_df.loc[idx,"min_pct_gain"]   = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"max_pct_gain"]   = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"mean_pct_gain"]  = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"gain_daily_ret"] = trades_n_stats_df.loc[idx].daily_return
cols=["ticker", "cnt_gain", "min_pct_gain", "max_pct_gain", "mean_pct_gain", "gain_daily_ret" ]
trades_n_stats_df[cols]

,ticker,cnt_gain,min_pct_gain,max_pct_gain,mean_pct_gain,gain_daily_ret
0,A,1,20.47,20.47,20.47,0.10
1,AA,1,51.91,51.91,51.91,0.35
2,AAL,1,35.69,35.69,35.69,0.70
3,AAMC,0,0.00,0.00,0.00,0.00
4,AAME,1,6.07,6.07,6.07,0.05
...,...,...,...,...,...,...
2728,ZUMZ,1,4.63,4.63,4.63,0.06
2729,ZVO,0,0.00,0.00,0.00,0.00
2730,ZYME,0,0.00,0.00,0.00,0.00
2731,ZYNE,0,0.00,0.00,0.00,0.00
2732,ZYXI,1,29.41,29.41,29.41,0.16

In [12]:
sum(trades_n_stats_df.cnt_gain)

1631

In [13]:
1631/2733

0.5967800951335529

In [14]:
idx = trades_n_stats_df.gain < 0
trades_n_stats_df.loc[idx,"cnt_loss"]       = 1
trades_n_stats_df.loc[idx,"min_pct_loss"]   = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"max_pct_loss"]   = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"mean_pct_loss"]  = trades_n_stats_df.loc[idx].gain_pct
trades_n_stats_df.loc[idx,"loss_daily_ret"] = trades_n_stats_df.loc[idx].daily_return
cols=["ticker", "cnt_gain", "min_pct_loss", "max_pct_loss", "mean_pct_loss", "loss_daily_ret" ]
trades_n_stats_df[cols]

,ticker,cnt_gain,min_pct_loss,max_pct_loss,mean_pct_loss,loss_daily_ret
0,A,1,0.00,0.00,0.00,0.00
1,AA,1,0.00,0.00,0.00,0.00
2,AAL,1,0.00,0.00,0.00,0.00
3,AAMC,0,-87.29,-87.29,-87.29,-1.38
4,AAME,1,0.00,0.00,0.00,0.00
...,...,...,...,...,...,...
2728,ZUMZ,1,0.00,0.00,0.00,0.00
2729,ZVO,0,-9.25,-9.25,-9.25,-0.32
2730,ZYME,0,-19.09,-19.09,-19.09,-0.48
2731,ZYNE,0,-65.89,-65.89,-65.89,-3.11
2732,ZYXI,1,0.00,0.00,0.00,0.00

In [15]:
sum(trades_n_stats_df.cnt_loss)

1082

In [16]:
1082/2733

0.39590193926088546

In [17]:
idx = trades_n_stats_df.gain == 0
trades_n_stats_df.loc[idx,"cnt_zero"]       = 1
trades_n_stats_df.loc[idx,"mean_day_zero"]  = trades_n_stats_df.loc[idx].gain_pct
cols=["ticker", "cnt_zero", "mean_day_zero" ]
trades_n_stats_df[cols]

     ticker  cnt_zero  mean_day_zero
0         A         0            0.0
1        AA         0            0.0
2       AAL         0            0.0
3      AAMC         0            0.0
4      AAME         0            0.0
...     ...       ...            ...
2728   ZUMZ         0            0.0
2729    ZVO         0            0.0
2730   ZYME         0            0.0
2731   ZYNE         0            0.0
2732   ZYXI         0            0.0

[2733 rows x 3 columns]

In [18]:
sum(trades_n_stats_df.cnt_zero)

20

In [19]:
cols=["ticker", "buy_date"]
temp_df=pd.merge(left=trades_df[cols], right=first_buy_df, on=['ticker'], how='inner')
temp_df

      ticker  buy_date_x  buy_date_y
0          A  2013-07-15  2013-07-15
1          A  2014-09-05  2013-07-15
2          A  2014-11-18  2013-07-15
3          A  2015-06-24  2013-07-15
4          A  2015-08-11  2013-07-15
...      ...         ...         ...
64577   ZYXI  2019-09-12  2013-08-14
64578   ZYXI  2019-11-21  2013-08-14
64579   ZYXI  2019-12-09  2013-08-14
64580   ZYXI  2020-02-12  2013-08-14
64581   ZYXI  2020-03-16  2013-08-14

[64582 rows x 3 columns]

In [20]:
idx = temp_df.buy_date_x == temp_df.buy_date_y
trades_df.loc[idx]

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
0,2013-07-15,30.7700,2014-04-23,37.0700,20.47,195,0.10,A
28,2018-08-02,42.4800,2018-09-05,42.8700,0.92,23,0.04,AA
64,2014-02-11,3.7901,2014-03-12,3.6746,-3.05,20,-0.15,AAME
92,2016-06-06,93.0100,2016-08-09,103.1700,10.92,45,0.23,AAPL
109,2017-06-09,37.3600,2017-10-17,37.9000,1.45,90,0.02,AAT
...,...,...,...,...,...,...,...,...
64498,2018-06-26,51.5700,2018-08-22,51.9000,0.64,40,0.02,ZION
64531,2019-10-29,7.0000,2019-11-04,6.8100,-2.71,4,-0.68,ZIXI
64532,2019-11-05,6.6900,2019-11-18,7.1200,6.43,9,0.69,ZIXI
64537,2018-01-16,2.2000,2018-02-13,4.3000,95.45,20,3.41,ZN
64543,2020-03-31,0.1800,2020-04-21,0.2000,11.11,14,0.76,ZN

In [21]:
trades_df =trades_df.loc[~idx]
trades_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
1,2014-09-05,39.16,2014-10-21,36.63,-6.46,32,-0.21,A
2,2014-11-18,38.69,2015-02-24,39.98,3.33,65,0.05,A
3,2015-06-24,38.30,2015-08-04,38.80,1.31,28,0.05,A
4,2015-08-11,37.66,2015-08-31,34.69,-7.89,14,-0.59,A
5,2015-10-13,34.13,2016-01-06,39.13,14.65,58,0.24,A
...,...,...,...,...,...,...,...,...
64577,2019-09-12,8.56,2019-09-23,9.85,15.07,7,2.03,ZYXI
64578,2019-11-21,9.05,2019-11-29,10.50,16.02,5,3.02,ZYXI
64579,2019-12-09,9.57,2020-01-09,9.77,2.09,21,0.10,ZYXI
64580,2020-02-12,10.32,2020-02-21,11.86,14.92,6,2.34,ZYXI
64581,2020-03-16,9.35,2020-04-08,12.15,29.95,17,1.55,ZYXI

In [22]:
second_buy_df = trades_df.groupby(by='ticker').buy_date.min().reset_index()
second_buy_df

     ticker    buy_date
0         A  2014-09-05
1        AA  2013-07-29
2       AAL  2013-08-19
3      AAMC  2015-08-11
4      AAME  2013-07-10
...     ...         ...
2726   ZUMZ  2013-07-29
2727    ZVO  2020-01-15
2728   ZYME  2018-06-11
2729   ZYNE  2017-06-20
2730   ZYXI  2013-08-14

[2731 rows x 2 columns]

In [23]:
trades_n_stats_df.columns

Index(['ticker', 'buy_date', 'buy_close', 'sell_date', 'sell_close',
       'gain_pct', 'trading_days', 'daily_return', 'total_cnt', 'total_days',
       'mean_day', 'daily_ret', 'gain', 'cnt_gain', 'min_pct_gain',
       'max_pct_gain', 'std_pct_gain', 'mean_pct_gain', 'mean_day_gain',
       'gain_daily_ret', 'cnt_loss', 'min_pct_loss', 'max_pct_loss',
       'std_pct_loss', 'mean_pct_loss', 'mean_day_loss', 'loss_daily_ret',
       'cnt_zero', 'mean_day_zero', 'pct_desired', 'gain_ratio', 'good'],
      dtype='object')

In [24]:
cols = ['ticker', 'buy_date', 'cnt_gain', 'min_pct_gain',
       'max_pct_gain', 'std_pct_gain', 'mean_pct_gain', 'mean_day_gain',
       'gain_daily_ret', 'cnt_loss', 'min_pct_loss', 'max_pct_loss',
       'std_pct_loss', 'mean_pct_loss', 'mean_day_loss', 'loss_daily_ret',
       'cnt_zero', 'mean_day_zero', 'total_cnt', 'total_days',
       'mean_day', 'daily_ret', 'pct_desired', 'gain_ratio', 'good']
trades_n_stats_df = trades_n_stats_df[cols]
trades_n_stats_df

,ticker,buy_date,cnt_gain,min_pct_gain,max_pct_gain,std_pct_gain,mean_pct_gain,mean_day_gain,gain_daily_ret,cnt_loss,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,A,2013-07-15,1,20.47,20.47,0.0,20.47,0.0,0.10,0,...,0.00,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,AA,2013-07-29,1,51.91,51.91,0.0,51.91,0.0,0.35,0,...,0.00,0,0.0,1,121,121,0.35,0.0,0.0,0.0
2,AAL,2013-08-19,1,35.69,35.69,0.0,35.69,0.0,0.70,0,...,0.00,0,0.0,1,44,44,0.70,0.0,0.0,0.0
3,AAMC,2015-08-11,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-1.38,0,0.0,1,148,148,-1.38,0.0,0.0,0.0
4,AAME,2013-07-10,1,6.07,6.07,0.0,6.07,0.0,0.05,0,...,0.00,0,0.0,1,128,128,0.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2728,ZUMZ,2013-07-29,1,4.63,4.63,0.0,4.63,0.0,0.06,0,...,0.00,0,0.0,1,73,73,0.06,0.0,0.0,0.0
2729,ZVO,2020-01-15,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-0.32,0,0.0,1,30,30,-0.32,0.0,0.0,0.0
2730,ZYME,2018-06-11,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-0.48,0,0.0,1,44,44,-0.48,0.0,0.0,0.0
2731,ZYNE,2017-06-20,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-3.11,0,0.0,1,34,34,-3.11,0.0,0.0,0.0
2732,ZYXI,2013-08-14,1,29.41,29.41,0.0,29.41,0.0,0.16,0,...,0.00,0,0.0,1,164,164,0.16,0.0,0.0,0.0

In [25]:
trades_n_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2733 entries, 0 to 2732
Data columns (total 25 columns):
ticker            2733 non-null object
buy_date          2733 non-null object
cnt_gain          2733 non-null int64
min_pct_gain      2733 non-null float64
max_pct_gain      2733 non-null float64
std_pct_gain      2733 non-null float64
mean_pct_gain     2733 non-null float64
mean_day_gain     2733 non-null float64
gain_daily_ret    2733 non-null float64
cnt_loss          2733 non-null int64
min_pct_loss      2733 non-null float64
max_pct_loss      2733 non-null float64
std_pct_loss      2733 non-null float64
mean_pct_loss     2733 non-null float64
mean_day_loss     2733 non-null float64
loss_daily_ret    2733 non-null float64
cnt_zero          2733 non-null int64
mean_day_zero     2733 non-null float64
total_cnt         2733 non-null int64
total_days        2733 non-null int64
mean_day          2733 non-null int64
daily_ret         2733 non-null float64
pct_desired       2733 non-null float64
gain_ratio        2733 non-null float64
good              2733 non-null float64
dtypes: float64(17), int64(6), object(2)
memory usage: 555.1+ KB

In [26]:
second_buy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731 entries, 0 to 2730
Data columns (total 2 columns):
ticker      2731 non-null object
buy_date    2731 non-null object
dtypes: object(2)
memory usage: 42.8+ KB

In [27]:
del trades_n_stats_df['buy_date']
trades_n_stats_df = pd.merge(left=second_buy_df, right=trades_n_stats_df, on=['ticker'], how='inner')
trades_n_stats_df

,ticker,buy_date,cnt_gain,min_pct_gain,max_pct_gain,std_pct_gain,mean_pct_gain,mean_day_gain,gain_daily_ret,cnt_loss,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,A,2014-09-05,1,20.47,20.47,0.0,20.47,0.0,0.10,0,...,0.00,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,AA,2013-07-29,1,51.91,51.91,0.0,51.91,0.0,0.35,0,...,0.00,0,0.0,1,121,121,0.35,0.0,0.0,0.0
2,AAL,2013-08-19,1,35.69,35.69,0.0,35.69,0.0,0.70,0,...,0.00,0,0.0,1,44,44,0.70,0.0,0.0,0.0
3,AAMC,2015-08-11,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-1.38,0,0.0,1,148,148,-1.38,0.0,0.0,0.0
4,AAME,2013-07-10,1,6.07,6.07,0.0,6.07,0.0,0.05,0,...,0.00,0,0.0,1,128,128,0.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,ZUMZ,2013-07-29,1,4.63,4.63,0.0,4.63,0.0,0.06,0,...,0.00,0,0.0,1,73,73,0.06,0.0,0.0,0.0
2727,ZVO,2020-01-15,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-0.32,0,0.0,1,30,30,-0.32,0.0,0.0,0.0
2728,ZYME,2018-06-11,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-0.48,0,0.0,1,44,44,-0.48,0.0,0.0,0.0
2729,ZYNE,2017-06-20,0,0.00,0.00,0.0,0.00,0.0,0.00,1,...,-3.11,0,0.0,1,34,34,-3.11,0.0,0.0,0.0
2730,ZYXI,2013-08-14,1,29.41,29.41,0.0,29.41,0.0,0.16,0,...,0.00,0,0.0,1,164,164,0.16,0.0,0.0,0.0

In [28]:
len(trades_df.ticker.unique())

2731

In [29]:
2731-2599

132

In [30]:
trades_n_stats_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2731 entries, 0 to 2730
Data columns (total 25 columns):
ticker            2731 non-null object
buy_date          2731 non-null object
cnt_gain          2731 non-null int64
min_pct_gain      2731 non-null float64
max_pct_gain      2731 non-null float64
std_pct_gain      2731 non-null float64
mean_pct_gain     2731 non-null float64
mean_day_gain     2731 non-null float64
gain_daily_ret    2731 non-null float64
cnt_loss          2731 non-null int64
min_pct_loss      2731 non-null float64
max_pct_loss      2731 non-null float64
std_pct_loss      2731 non-null float64
mean_pct_loss     2731 non-null float64
mean_day_loss     2731 non-null float64
loss_daily_ret    2731 non-null float64
cnt_zero          2731 non-null int64
mean_day_zero     2731 non-null float64
total_cnt         2731 non-null int64
total_days        2731 non-null int64
mean_day          2731 non-null int64
daily_ret         2731 non-null float64
pct_desired       2731 non-null float64
gain_ratio        2731 non-null float64
good              2731 non-null float64
dtypes: float64(17), int64(6), object(2)
memory usage: 554.7+ KB

In [31]:
trades_n_stats_df = pd.merge(left=trades_df, right=trades_n_stats_df, on=['ticker', 'buy_date'], how='inner')
trades_n_stats_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker,cnt_gain,min_pct_gain,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,2014-09-05,39.1600,2014-10-21,36.630,-6.46,32,-0.21,A,1,20.47,...,0.00,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35,AA,1,51.91,...,0.00,0,0.0,1,121,121,0.35,0.0,0.0,0.0
2,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70,AAL,1,35.69,...,0.00,0,0.0,1,44,44,0.70,0.0,0.0,0.0
3,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38,AAMC,0,0.00,...,-1.38,0,0.0,1,148,148,-1.38,0.0,0.0,0.0
4,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05,AAME,1,6.07,...,0.00,0,0.0,1,128,128,0.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06,ZUMZ,1,4.63,...,0.00,0,0.0,1,73,73,0.06,0.0,0.0,0.0
2727,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32,ZVO,0,0.00,...,-0.32,0,0.0,1,30,30,-0.32,0.0,0.0,0.0
2728,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48,ZYME,0,0.00,...,-0.48,0,0.0,1,44,44,-0.48,0.0,0.0,0.0
2729,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11,ZYNE,0,0.00,...,-3.11,0,0.0,1,34,34,-3.11,0.0,0.0,0.0
2730,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16,ZYXI,1,29.41,...,0.00,0,0.0,1,164,164,0.16,0.0,0.0,0.0

In [32]:
trades_n_stats_df.columns

Index(['buy_date', 'buy_close', 'sell_date', 'sell_close', 'gain_pct',
       'trading_days', 'daily_return', 'ticker', 'cnt_gain', 'min_pct_gain',
       'max_pct_gain', 'std_pct_gain', 'mean_pct_gain', 'mean_day_gain',
       'gain_daily_ret', 'cnt_loss', 'min_pct_loss', 'max_pct_loss',
       'std_pct_loss', 'mean_pct_loss', 'mean_day_loss', 'loss_daily_ret',
       'cnt_zero', 'mean_day_zero', 'total_cnt', 'total_days', 'mean_day',
       'daily_ret', 'pct_desired', 'gain_ratio', 'good'],
      dtype='object')

In [33]:
cols=['ticker', 'buy_date', 'cnt_gain', 'min_pct_gain',
       'max_pct_gain', 'std_pct_gain', 'mean_pct_gain', 'mean_day_gain',
       'gain_daily_ret', 'cnt_loss', 'min_pct_loss', 'max_pct_loss',
       'std_pct_loss', 'mean_pct_loss', 'mean_day_loss', 'loss_daily_ret',
       'cnt_zero', 'mean_day_zero', 'total_cnt', 'total_days', 'mean_day',
       'daily_ret', 'pct_desired', 'gain_ratio', 'good']
trades_df = pd.merge(left=trades_df, right=trades_n_stats_df[cols], on=['ticker'], how='inner')
trades_df

,buy_date_x,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker,buy_date_y,cnt_gain,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,2014-09-05,39.16,2014-10-21,36.63,-6.46,32,-0.21,A,2014-09-05,1,...,0.0,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,2014-11-18,38.69,2015-02-24,39.98,3.33,65,0.05,A,2014-09-05,1,...,0.0,0,0.0,1,195,195,0.10,0.0,0.0,0.0
2,2015-06-24,38.30,2015-08-04,38.80,1.31,28,0.05,A,2014-09-05,1,...,0.0,0,0.0,1,195,195,0.10,0.0,0.0,0.0
3,2015-08-11,37.66,2015-08-31,34.69,-7.89,14,-0.59,A,2014-09-05,1,...,0.0,0,0.0,1,195,195,0.10,0.0,0.0,0.0
4,2015-10-13,34.13,2016-01-06,39.13,14.65,58,0.24,A,2014-09-05,1,...,0.0,0,0.0,1,195,195,0.10,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61844,2019-09-12,8.56,2019-09-23,9.85,15.07,7,2.03,ZYXI,2013-08-14,1,...,0.0,0,0.0,1,164,164,0.16,0.0,0.0,0.0
61845,2019-11-21,9.05,2019-11-29,10.50,16.02,5,3.02,ZYXI,2013-08-14,1,...,0.0,0,0.0,1,164,164,0.16,0.0,0.0,0.0
61846,2019-12-09,9.57,2020-01-09,9.77,2.09,21,0.10,ZYXI,2013-08-14,1,...,0.0,0,0.0,1,164,164,0.16,0.0,0.0,0.0
61847,2020-02-12,10.32,2020-02-21,11.86,14.92,6,2.34,ZYXI,2013-08-14,1,...,0.0,0,0.0,1,164,164,0.16,0.0,0.0,0.0
61848,2020-03-16,9.35,2020-04-08,12.15,29.95,17,1.55,ZYXI,2013-08-14,1,...,0.0,0,0.0,1,164,164,0.16,0.0,0.0,0.0

In [34]:
idx = trades_df.buy_date_x == trades_df.buy_date_y
print(len(idx), len(trades_df), sum(idx), len(idx)-sum(idx) )
trades_df = trades_df.loc[~idx]
cols = ["ticker", "buy_date_x", "buy_close", "sell_date", "sell_close", "gain_pct", 
        "trading_days", "daily_return"]
trades_df = trades_df[cols]
cols = ["ticker", "buy_date", "buy_close", "sell_date", "sell_close", "gain_pct", 
        "trading_days", "daily_return"]
trades_df.columns = cols
trades_df

61849 61849 2731 59118

,ticker,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return
1,A,2014-11-18,38.69,2015-02-24,39.98,3.33,65,0.05
2,A,2015-06-24,38.30,2015-08-04,38.80,1.31,28,0.05
3,A,2015-08-11,37.66,2015-08-31,34.69,-7.89,14,-0.59
4,A,2015-10-13,34.13,2016-01-06,39.13,14.65,58,0.24
5,A,2016-02-26,36.11,2016-03-03,37.66,4.29,4,1.06
...,...,...,...,...,...,...,...,...
61844,ZYXI,2019-09-12,8.56,2019-09-23,9.85,15.07,7,2.03
61845,ZYXI,2019-11-21,9.05,2019-11-29,10.50,16.02,5,3.02
61846,ZYXI,2019-12-09,9.57,2020-01-09,9.77,2.09,21,0.10
61847,ZYXI,2020-02-12,10.32,2020-02-21,11.86,14.92,6,2.34
61848,ZYXI,2020-03-16,9.35,2020-04-08,12.15,29.95,17,1.55

In [35]:
61849-2731

59118

In [36]:
trades_df.buy_date.min(), trades_df.buy_date.max()

('2013-08-01', '2020-04-30')

In [37]:
trades_df.sell_date.min(), trades_df.sell_date.max()

('2013-09-30', '2020-05-01')

In [38]:
dates_to_process = set(trades_df.sell_date)
len(dates_to_process)

1638

In [39]:
trades_n_stats_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker,cnt_gain,min_pct_gain,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,2014-09-05,39.1600,2014-10-21,36.630,-6.46,32,-0.21,A,1,20.47,...,0.00,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35,AA,1,51.91,...,0.00,0,0.0,1,121,121,0.35,0.0,0.0,0.0
2,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70,AAL,1,35.69,...,0.00,0,0.0,1,44,44,0.70,0.0,0.0,0.0
3,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38,AAMC,0,0.00,...,-1.38,0,0.0,1,148,148,-1.38,0.0,0.0,0.0
4,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05,AAME,1,6.07,...,0.00,0,0.0,1,128,128,0.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06,ZUMZ,1,4.63,...,0.00,0,0.0,1,73,73,0.06,0.0,0.0,0.0
2727,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32,ZVO,0,0.00,...,-0.32,0,0.0,1,30,30,-0.32,0.0,0.0,0.0
2728,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48,ZYME,0,0.00,...,-0.48,0,0.0,1,44,44,-0.48,0.0,0.0,0.0
2729,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11,ZYNE,0,0.00,...,-3.11,0,0.0,1,34,34,-3.11,0.0,0.0,0.0
2730,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16,ZYXI,1,29.41,...,0.00,0,0.0,1,164,164,0.16,0.0,0.0,0.0

In [40]:
trades_n_stats_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker,cnt_gain,min_pct_gain,...,loss_daily_ret,cnt_zero,mean_day_zero,total_cnt,total_days,mean_day,daily_ret,pct_desired,gain_ratio,good
0,2014-09-05,39.1600,2014-10-21,36.630,-6.46,32,-0.21,A,1,20.47,...,0.00,0,0.0,1,195,195,0.10,0.0,0.0,0.0
1,2013-07-29,18.5700,2014-01-21,28.210,51.91,121,0.35,AA,1,51.91,...,0.00,0,0.0,1,121,121,0.35,0.0,0.0,0.0
2,2013-08-19,14.7400,2013-10-21,20.000,35.69,44,0.70,AAL,1,35.69,...,0.00,0,0.0,1,44,44,0.70,0.0,0.0,0.0
3,2015-08-11,105.4700,2016-03-14,13.400,-87.29,148,-1.38,AAMC,0,0.00,...,-1.38,0,0.0,1,148,148,-1.38,0.0,0.0,0.0
4,2013-07-10,3.6458,2014-01-10,3.867,6.07,128,0.05,AAME,1,6.07,...,0.00,0,0.0,1,128,128,0.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2726,2013-07-29,28.2700,2013-11-08,29.580,4.63,73,0.06,ZUMZ,1,4.63,...,0.00,0,0.0,1,73,73,0.06,0.0,0.0,0.0
2727,2020-01-15,1.7300,2020-02-28,1.570,-9.25,30,-0.32,ZVO,0,0.00,...,-0.32,0,0.0,1,30,30,-0.32,0.0,0.0,0.0
2728,2018-06-11,17.6000,2018-08-13,14.240,-19.09,44,-0.48,ZYME,0,0.00,...,-0.48,0,0.0,1,44,44,-0.48,0.0,0.0,0.0
2729,2017-06-20,18.3800,2017-08-08,6.270,-65.89,34,-3.11,ZYNE,0,0.00,...,-3.11,0,0.0,1,34,34,-3.11,0.0,0.0,0.0
2730,2013-08-14,0.1700,2014-04-09,0.220,29.41,164,0.16,ZYXI,1,29.41,...,0.00,0,0.0,1,164,164,0.16,0.0,0.0,0.0