In [1]:
import pandas as pd
import numpy as np
from symbols import TRADE_FNM, STATS_FNM, LOGPATH
from util    import open_logfile, log, is_holiday, get_current_day_and_time
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import timedelta

In [2]:
TRADE_FNM = '/Users/frkornet/Stockie/data/F13/possible_trades.csv'
trades_df = pd.read_csv(TRADE_FNM)
trades_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
0,2017-05-22,54.60,2017-06-07,59.03,8.11,11,0.71,A
1,2018-02-26,69.16,2018-02-27,67.62,-2.23,1,-2.23,A
2,2018-03-01,66.03,2018-03-05,66.19,0.24,2,0.12,A
3,2018-03-07,68.30,2018-03-14,68.52,0.32,5,0.06,A
4,2018-04-02,63.28,2018-05-02,64.73,2.29,22,0.10,A
...,...,...,...,...,...,...,...,...
27352,2019-08-26,8.74,2019-09-09,9.00,2.97,9,0.33,ZYXI
27353,2019-09-10,9.22,2019-09-19,9.70,5.21,7,0.73,ZYXI
27354,2019-12-09,9.57,2020-01-09,9.77,2.09,21,0.10,ZYXI
27355,2020-02-07,10.10,2020-02-21,11.86,17.43,9,1.80,ZYXI
27356,2020-03-16,9.35,2020-04-08,12.15,29.95,17,1.55,ZYXI

In [3]:
trades_df[trades_df.daily_return > 20]

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
581,2020-01-23,2.58,2020-01-27,3.97,53.88,2,24.05,AEMD
5017,2019-09-18,1.84,2019-09-19,2.54,38.04,1,38.04,CHNR
10707,2020-03-20,1.31,2020-03-23,1.58,20.61,1,20.61,GLOW
15115,2017-12-22,12.12,2017-12-27,17.76,46.53,2,21.05,LTBR

In [4]:
tickers = sorted(list(set(trades_df[trades_df.daily_return > 20].ticker.to_list())))
print(tickers, len(tickers))

['AEMD', 'CHNR', 'GLOW', 'LTBR'] 4

In [5]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [ ]:
# for t in tickers:
#     asset  = yf.Ticker(t)
#     hist   = asset.history(period='max')
#     hist.Close.plot(figsize=(18,8))
#     plt.title(f'Ticker: {t}')
#     plt.show()

In [6]:
STATS_FNM = '/Users/frkornet/Stockie/data/F13/ticker_stats.csv'
ticker_stats_df = pd.read_csv(STATS_FNM)
ticker_stats_df

,ticker,min_gain,min_pct_gain,max_gain,max_pct_gain,mean_gain,std_gain,cnt_gain,pct_gain,day_gain,...,total_sell,total_days,total_cnt,total_pct,daily_ret,pct_desired,gain_ratio,e_gain_daily_ret,e_loss_daily_ret,good
0,A,0.1600,0.242314,8.8100,-0.323375,2.346667,2.755581,9,3.628243,16.555556,...,941.2000,220,14,1.728256,0.007789,21.43,0.642857,0.015379,0.008544,0
1,AA,0.0500,0.150286,3.5900,-0.511124,1.216000,1.081924,10,3.529651,15.000000,...,601.3400,433,18,-1.809216,-0.004216,16.67,0.555556,0.012849,0.010279,0
2,AAL,0.0500,0.157183,4.0900,-1.872440,1.790000,1.410815,8,5.018398,28.500000,...,479.0300,426,13,-0.324601,-0.000763,15.38,0.615385,0.013217,0.008261,0
3,AAMC,0.9100,7.000000,2.7000,-4.629630,1.805000,1.265721,2,14.917355,9.500000,...,115.8900,219,5,-24.135899,-0.126051,20.00,0.400000,0.293796,0.440694,0
4,AAME,0.0197,0.614760,0.3472,-1.606426,0.150050,0.118071,14,5.448976,16.571429,...,58.5183,519,21,0.876924,0.001682,23.81,0.666667,0.015248,0.007624,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2400,ZIOP,0.0100,0.350877,1.5100,-1.131222,0.346429,0.412676,14,8.036454,13.571429,...,108.9700,374,24,1.386304,0.003681,45.83,0.583333,0.023737,0.016955,0
2401,ZIXI,0.1200,1.785714,1.1700,-0.936768,0.650000,0.480729,5,12.032581,34.400000,...,58.3800,308,10,0.707262,0.002288,20.00,0.500000,0.033040,0.033040,0
2402,ZN,0.0400,3.571429,2.1000,-0.600601,0.600000,1.001732,4,40.201005,29.000000,...,23.5000,383,11,-0.885702,-0.002323,27.27,0.363636,0.106081,0.185642,0
2403,ZUMZ,0.1400,0.413834,8.4200,-1.330511,2.475000,2.644041,12,11.427472,20.416667,...,372.2500,404,16,6.093425,0.014642,37.50,0.750000,0.033131,0.011044,1
2404,ZYXI,0.0100,0.355872,2.8000,-1.351351,0.463750,0.764250,16,9.839544,7.437500,...,101.7300,250,23,7.457484,0.028774,47.83,0.695652,0.054885,0.024012,0

In [7]:
DATAPATH        = "/Users/frkornet/Stockie/data/F13/"
BUY_FNM         = f"{DATAPATH}possible_buys.csv"
buy_opportunities_df = pd.read_csv(BUY_FNM)
buy_opportunities_df

     ticker    buy_date  buy_close
0         A  2020-02-20      84.13
1        AA  2020-01-17      17.69
2       AAL  2020-02-24      25.45
3      AAMC  2020-03-16      14.08
4      AAME  2020-03-30       2.13
...     ...         ...        ...
2543     ZN  2020-03-31       0.18
2544   ZUMZ  2020-01-23      32.28
2545   ZYME  2020-03-24      31.77
2546   ZYNE  2019-08-06      10.31
2547   ZYXI  2020-03-16       9.35

[2548 rows x 3 columns]

In [8]:
ret_col = 'gain_daily_ret'
cols =[ 'ticker', 'pct_gain', 'day_gain', ret_col ]
cols

['ticker', 'pct_gain', 'day_gain', 'gain_daily_ret']

In [9]:
br_df = pd.merge(buy_opportunities_df, ticker_stats_df[cols], how='inner')
br_df

     ticker    buy_date  buy_close   pct_gain   day_gain  gain_daily_ret
0         A  2020-02-20      84.13   3.628243  16.555556        0.023922
1        AA  2020-01-17      17.69   3.529651  15.000000        0.023128
2       AAL  2020-02-24      25.45   5.018398  28.500000        0.021478
3      AAMC  2020-03-16      14.08  14.917355   9.500000        0.734490
4      AAME  2020-03-30       2.13   5.448976  16.571429        0.022872
...     ...         ...        ...        ...        ...             ...
2400   ZIOP  2020-01-08       4.59   8.036454  13.571429        0.040692
2401   ZIXI  2020-01-27       6.75  12.032581  34.400000        0.066080
2402     ZN  2020-03-31       0.18  40.201005  29.000000        0.291724
2403   ZUMZ  2020-01-23      32.28  11.427472  20.416667        0.044175
2404   ZYXI  2020-03-16       9.35   9.839544   7.437500        0.078897

[2405 rows x 6 columns]

In [10]:
br_df['gain_pct']     = br_df.pct_gain.astype(float)
br_df['trading_days'] = round(br_df.day_gain,0).astype(int)
br_df['daily_return'] = br_df[ret_col].astype(float)
br_df

,ticker,buy_date,buy_close,pct_gain,day_gain,gain_daily_ret,gain_pct,trading_days,daily_return
0,A,2020-02-20,84.13,3.628243,16.555556,0.023922,3.628243,17,0.023922
1,AA,2020-01-17,17.69,3.529651,15.000000,0.023128,3.529651,15,0.023128
2,AAL,2020-02-24,25.45,5.018398,28.500000,0.021478,5.018398,28,0.021478
3,AAMC,2020-03-16,14.08,14.917355,9.500000,0.734490,14.917355,10,0.734490
4,AAME,2020-03-30,2.13,5.448976,16.571429,0.022872,5.448976,17,0.022872
...,...,...,...,...,...,...,...,...,...
2400,ZIOP,2020-01-08,4.59,8.036454,13.571429,0.040692,8.036454,14,0.040692
2401,ZIXI,2020-01-27,6.75,12.032581,34.400000,0.066080,12.032581,34,0.066080
2402,ZN,2020-03-31,0.18,40.201005,29.000000,0.291724,40.201005,29,0.291724
2403,ZUMZ,2020-01-23,32.28,11.427472,20.416667,0.044175,11.427472,20,0.044175
2404,ZYXI,2020-03-16,9.35,9.839544,7.437500,0.078897,9.839544,7,0.078897

In [11]:
br_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2405 entries, 0 to 2404
Data columns (total 9 columns):
ticker            2405 non-null object
buy_date          2405 non-null object
buy_close         2405 non-null float64
pct_gain          2405 non-null float64
day_gain          2405 non-null float64
gain_daily_ret    2405 non-null float64
gain_pct          2405 non-null float64
trading_days      2405 non-null int64
daily_return      2405 non-null float64
dtypes: float64(6), int64(1), object(2)
memory usage: 187.9+ KB

In [12]:
br_df['sell_date'] = \
  br_df[['buy_date', 'trading_days']].apply(lambda x: pd.to_datetime(x.buy_date)+timedelta(x.trading_days), axis=1)
br_df.sell_date = br_df.sell_date.astype(str)
br_df

,ticker,buy_date,buy_close,pct_gain,day_gain,gain_daily_ret,gain_pct,trading_days,daily_return,sell_date
0,A,2020-02-20,84.13,3.628243,16.555556,0.023922,3.628243,17,0.023922,2020-03-08
1,AA,2020-01-17,17.69,3.529651,15.000000,0.023128,3.529651,15,0.023128,2020-02-01
2,AAL,2020-02-24,25.45,5.018398,28.500000,0.021478,5.018398,28,0.021478,2020-03-23
3,AAMC,2020-03-16,14.08,14.917355,9.500000,0.734490,14.917355,10,0.734490,2020-03-26
4,AAME,2020-03-30,2.13,5.448976,16.571429,0.022872,5.448976,17,0.022872,2020-04-16
...,...,...,...,...,...,...,...,...,...,...
2400,ZIOP,2020-01-08,4.59,8.036454,13.571429,0.040692,8.036454,14,0.040692,2020-01-22
2401,ZIXI,2020-01-27,6.75,12.032581,34.400000,0.066080,12.032581,34,0.066080,2020-03-01
2402,ZN,2020-03-31,0.18,40.201005,29.000000,0.291724,40.201005,29,0.291724,2020-04-29
2403,ZUMZ,2020-01-23,32.28,11.427472,20.416667,0.044175,11.427472,20,0.044175,2020-02-12
2404,ZYXI,2020-03-16,9.35,9.839544,7.437500,0.078897,9.839544,7,0.078897,2020-03-23

In [13]:
br_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2405 entries, 0 to 2404
Data columns (total 10 columns):
ticker            2405 non-null object
buy_date          2405 non-null object
buy_close         2405 non-null float64
pct_gain          2405 non-null float64
day_gain          2405 non-null float64
gain_daily_ret    2405 non-null float64
gain_pct          2405 non-null float64
trading_days      2405 non-null int64
daily_return      2405 non-null float64
sell_date         2405 non-null object
dtypes: float64(6), int64(1), object(3)
memory usage: 206.7+ KB

In [14]:
br_df['sell_close'] = round(br_df.buy_close*(1+br_df.pct_gain/100),2)
br_df

,ticker,buy_date,buy_close,pct_gain,day_gain,gain_daily_ret,gain_pct,trading_days,daily_return,sell_date,sell_close
0,A,2020-02-20,84.13,3.628243,16.555556,0.023922,3.628243,17,0.023922,2020-03-08,87.18
1,AA,2020-01-17,17.69,3.529651,15.000000,0.023128,3.529651,15,0.023128,2020-02-01,18.31
2,AAL,2020-02-24,25.45,5.018398,28.500000,0.021478,5.018398,28,0.021478,2020-03-23,26.73
3,AAMC,2020-03-16,14.08,14.917355,9.500000,0.734490,14.917355,10,0.734490,2020-03-26,16.18
4,AAME,2020-03-30,2.13,5.448976,16.571429,0.022872,5.448976,17,0.022872,2020-04-16,2.25
...,...,...,...,...,...,...,...,...,...,...,...
2400,ZIOP,2020-01-08,4.59,8.036454,13.571429,0.040692,8.036454,14,0.040692,2020-01-22,4.96
2401,ZIXI,2020-01-27,6.75,12.032581,34.400000,0.066080,12.032581,34,0.066080,2020-03-01,7.56
2402,ZN,2020-03-31,0.18,40.201005,29.000000,0.291724,40.201005,29,0.291724,2020-04-29,0.25
2403,ZUMZ,2020-01-23,32.28,11.427472,20.416667,0.044175,11.427472,20,0.044175,2020-02-12,35.97
2404,ZYXI,2020-03-16,9.35,9.839544,7.437500,0.078897,9.839544,7,0.078897,2020-03-23,10.27

In [15]:
cols = ['buy_date', 'buy_close', 'sell_date', 'sell_close', 'gain_pct', 'trading_days', 'daily_return', 'ticker']
br_df = br_df.drop(['pct_gain', 'day_gain', ret_col], axis=1)[cols]
br_df.sort_values(by='buy_date')

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
1171,2018-05-08,17.1100,2018-06-08,18.86,10.255770,31,0.062206,IVC
2394,2018-09-07,34.1700,2018-09-07,34.17,0.000000,0,0.000000,ZAYO
1351,2018-09-13,18.4000,2018-09-13,18.40,0.000000,0,0.000000,MDRIQ
2050,2018-10-05,12.3300,2018-11-15,13.84,12.237762,41,0.140891,SUMR
536,2018-10-08,7.1251,2018-10-08,7.13,0.000000,0,0.000000,CPTA
...,...,...,...,...,...,...,...,...
572,2020-04-13,0.6400,2020-05-03,0.73,14.223764,20,0.067875,CTHR
1298,2020-04-13,0.4730,2020-04-27,0.53,13.033771,14,0.219019,LPCN
94,2020-04-13,28.3500,2020-04-22,28.90,1.937955,9,0.017294,ALCO
1449,2020-04-14,24.6200,2020-04-21,25.44,3.317286,7,0.081620,MTSI
232,2020-04-14,2.6500,2020-05-08,2.80,5.686937,24,0.022953,AWRE

In [18]:
max(trades_df.buy_date)

'2020-04-13'

In [19]:
idx = br_df.buy_date >= max(trades_df.buy_date)
br_df[idx].sort_values(by='buy_date')

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
94,2020-04-13,28.350,2020-04-22,28.90,1.937955,9,0.017294,ALCO
572,2020-04-13,0.640,2020-05-03,0.73,14.223764,20,0.067875,CTHR
684,2020-04-13,62.020,2020-04-28,67.12,8.225547,15,0.043925,EBS
1020,2020-04-13,20.170,2020-04-22,20.54,1.821499,9,0.008555,HFWA
1292,2020-04-13,3.800,2020-04-26,4.14,8.829153,13,0.166038,LOAN
1298,2020-04-13,0.473,2020-04-27,0.53,13.033771,14,0.219019,LPCN
1310,2020-04-13,2.010,2020-04-24,2.23,10.843373,11,0.095368,LTBR
1424,2020-04-13,1.850,2020-05-20,2.73,47.713951,37,0.352066,MRNS
1440,2020-04-13,690.780,2020-04-29,711.98,3.069457,16,0.018664,MTD
1561,2020-04-13,61.820,2020-04-28,64.20,3.848907,15,0.031217,NWN
1758,2020-04-13,7.320,2020-05-15,8.65,18.124066,32,0.132282,PRPL
1872,2020-04-13,78.890,2020-04-25,80.84,2.465580,12,0.007832,RSG
232,2020-04-14,2.650,2020-05-08,2.80,5.686937,24,0.022953,AWRE
1449,2020-04-14,24.620,2020-04-21,25.44,3.317286,7,0.081620,MTSI

In [24]:
pt_df = pd.concat([trades_df, br_df[idx]]).sort_values(by='buy_date')
pt_df

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
959,2017-04-19,6.2800,2017-06-08,6.300,0.320000,35,0.010000,AKS
18256,2017-05-04,8.8000,2017-06-14,8.950,1.700000,28,0.060000,OMN
2788,2017-05-05,19.3900,2017-06-13,19.080,-1.600000,26,-0.060000,AYR
21384,2017-05-08,7.7600,2018-04-20,6.000,-22.680000,240,-0.110000,S
261,2017-05-09,6.4583,2017-06-28,6.875,6.450000,35,0.180000,ACER
...,...,...,...,...,...,...,...,...
16595,2020-04-13,690.7800,2020-04-14,711.770,3.040000,1,3.040000,MTD
1020,2020-04-13,20.1700,2020-04-22,20.540,1.821499,9,0.008555,HFWA
1872,2020-04-13,78.8900,2020-04-25,80.840,2.465580,12,0.007832,RSG
232,2020-04-14,2.6500,2020-05-08,2.800,5.686937,24,0.022953,AWRE
1449,2020-04-14,24.6200,2020-04-21,25.440,3.317286,7,0.081620,MTSI

In [25]:
pt_df[pt_df.ticker == 'SC']

,buy_date,buy_close,sell_date,sell_close,gain_pct,trading_days,daily_return,ticker
21684,2018-10-24,16.5,2019-05-24,22.01,33.39,145,0.2,SC

In [ ]:
ticker_stats_df.pct_desired.hist(bins=10)

In [ ]:
ticker_stats_df.info()

In [ ]:
sum(ticker_stats_df.cnt_gain * ticker_stats_df.pct_gain)/100

In [ ]:
percentages = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for pct in percentages:
    idx = ticker_stats_df.pct_desired >= pct
    increase = sum(ticker_stats_df[idx].cnt_gain * ticker_stats_df[idx].pct_gain)/100
    print(f'pct={pct}\t\tincrease={round(increase,1)}')

In [ ]:
sum(ticker_stats_df.cnt_loss * ticker_stats_df.pct_loss)/100

In [ ]:
percentages = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(f'pct\tincrease\tloss\tnett\tperc\tcnt\tlen\tddlen')

for pct in percentages:
    idx = ticker_stats_df.pct_desired >= pct
    tickers = list(ticker_stats_df[idx].ticker.unique())
    cnt = len(tickers)
    tlen = 0
    for t in tickers:
        tlen = tlen + len(trades_df[trades_df.ticker == t])
    
    increase = sum(ticker_stats_df[idx].cnt_gain * ticker_stats_df[idx].pct_gain)/100
    increase = round(increase,1)
    loss     = sum(ticker_stats_df[idx].cnt_loss * ticker_stats_df[idx].pct_loss)/100
    loss     = round(loss,1)
    nett = round(increase + loss,1)
    perc = round((nett / increase) * 100, 1)
    
    ddmin = round(ticker_stats_df[idx].min_pct_loss.min(),1)

    print(f'{pct}\t{increase}\t\t{loss}\t{nett}\t{perc}\t{cnt}\t{tlen}\t{ddmin}')

In [ ]:
ticker_stats_df.pct_desired.describe()

In [ ]:
len(ticker_stats_df[ticker_stats_df.good == 1])